<ion-header>
  <ion-toolbar class="p-2">
    <div class="flex justify-between items-center py-2">
      <ion-buttons slot="start">
        <app-back-button
          [styles]="'!text-[20px]'"
          [navigateBack]="goBack.bind(this)"
        ></app-back-button>
      </ion-buttons>

      <ion-breadcrumbs [maxItems]="2" (ionCollapsedClick)="presentPopover($event)" [itemsBeforeCollapse]="0">
        @for (breadcrumb of breadcrumbsService.breadcrumbsRoutes(); track breadcrumb.url) {
          <ion-breadcrumb
            [href]="breadcrumb.url"
          >
            {{ breadcrumb.label | breadcrumbLabel }}
          </ion-breadcrumb>
        }
      </ion-breadcrumbs>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper bg-white h-full rounded-tl-[30px] rounded-tr-[30px]">
    <div class="flex justify-between p-3 items-center bg-[#182130] rounded-tl-[30px] rounded-tr-[30px]">
      <div class="flex items-center bg-[#182130] rounded-tl-[30px]">
        <ion-avatar slot="start">
          <img src="assets/icon/user2.png"/>
        </ion-avatar>
        <div class="ml-4">
          <p class="text-[18px] font-bold text-white">Станіслав</p>
          <p class="text-sm text-gray-600">+380(93)-567-890</p>
          <p class="text-sm text-blue-600">johndoe.com</p>
        </div>
      </div>
      <ion-icon class=" text-[30px] text-white"
                name="ellipsis-horizontal-circle-outline"
                id="popover-button"
      >
      </ion-icon>
    </div>

    <form [formGroup]="form" class="px-3 my-3">
      <div class="flex justify-between items-center">
        <ion-label class="text-[#1f2937] !border-none mb-2">Особиста інформація</ion-label>
      </div>

      <div [class.blurred]="isBlurred()">
        <div class="form-input" #nameRef [appValidateInput]="nameRef">
          <div class="input-row">
            <ion-label position="static" [class.focused]="isFocused['name']">

              @if (!isFocused['name'] || name.valid) {
                <span>Ім'я</span>
              }

              @if (name.valid) {
                <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
              }

              @if (isFocused['name'] && !name.valid) {
                <ion-spinner name="dots" color="primary"></ion-spinner>
              }

            </ion-label>

            <ion-input
              type="text"
              class="aligned-input"
              placeholder="Введіть ваше ім'я"
              [formControl]="name"
              (ionFocus)="onFocus('name')"
              (ionBlur)="onBlur('name')"
            ></ion-input>
          </div>

          <div [appValidateInput]="nameRef" [control]="name" class="error-container">
            <!-- Контейнер для помилки -->
          </div>
        </div>

        <div class="form-input" #lastNameRef [appValidateInput]="lastNameRef">
          <div class="input-row">
            <ion-label position="static" [class.focused]="isFocused['lastName']">

              @if (!isFocused['lastName'] || lastName.valid) {
                <span>Прізвище</span>
              }

              @if (lastName.valid) {
                <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
              }

              @if (isFocused['lastName'] && !lastName.valid) {
                <ion-spinner name="dots" color="primary"></ion-spinner>
              }

            </ion-label>

            <ion-input
              type="text"
              class="aligned-input"
              placeholder="Додайте прізвище"
              [formControl]="lastName"
              (ionFocus)="onFocus('lastName')"
              (ionBlur)="onBlur('lastName')"
            ></ion-input>
          </div>

          <div [appValidateInput]="lastNameRef" [control]="lastName" class="error-container">
            <!-- Контейнер для помилки -->
          </div>
        </div>

        <div class="form-input" #mobileRef [appValidateInput]="mobileRef">
          <div class="input-row">
            <ion-label position="static" [class.focused]="isFocused['phone']">
              <div class="phone-container">
                <ion-icon name="call-outline"></ion-icon>
                <span>+380</span>
              </div>
              @if (phone.valid) {
                <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
              }
            </ion-label>

            <ion-input
              type="text"
              class="aligned-input"
              phoneFormatter
              placeholder="(XX)-XXX-XX-XX"
              [formControl]="phone"
              (ionFocus)="onFocus('phone')"
              (ionBlur)="onBlur('phone')"
            ></ion-input>
          </div>

          <div [appValidateInput]="mobileRef" [control]="phone" class="error-container">
            <!-- Контейнер для помилки -->
          </div>
        </div>

        <div class="form-input" #emailRef [appValidateInput]="emailRef">
          <div class="input-row">

            <ion-label position="static" [class.focused]="isFocused['google']" class="flex !justify-center">
              @if (!isFocused['google'] || email.valid) {
                <ion-icon name="logo-google"></ion-icon>
              }

              @if (email.valid) {
                <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
              }

              @if (isFocused['google'] && !email.valid) {
                <ion-spinner name="dots" color="primary"></ion-spinner>
              }
            </ion-label>

            <ion-input
              type="text"
              class="aligned-input"
              placeholder="Введіть поштову адресу"
              [formControl]="email"
              (ionFocus)="onFocus('google')"
              (ionBlur)="onBlur('google')"
            ></ion-input>
          </div>

          <div [appValidateInput]="emailRef" [control]="email" class="error-container">
            <!-- Контейнер для помилки -->
          </div>
        </div>

        <ion-label class="text-[#1f2937] !border-none mb-2 flex !justify-start">Безпека даних</ion-label>

        <div (click)="confirmEditPassword()">
          <div [class.blurred]="passwordBlurred()">
            <div #passRef [appValidateInput]="passRef" class="form-input">
              <div class="input-row">
                <ion-label [class.focused]="isFocused['lockOpen']" position="static" class="flex !justify-center">

                  @if (!isFocused['lockOpen'] || password.valid) {
                    <ion-icon name="lock-open-outline"></ion-icon>
                  }

                  @if (password.valid) {
                    <ion-icon class="checkmark-icon" name="checkmark-circle-outline"></ion-icon>
                  }

                  @if (isFocused['lockOpen'] && !password.valid) {
                    <ion-spinner name="dots" color="primary"></ion-spinner>
                  }

                </ion-label>

                <ion-input
                  (ionBlur)="onBlur('lockOpen')"
                  (ionFocus)="onFocus('lockOpen')"
                  [formControl]="password"
                  [type]="showPassword ? 'text' : 'password'"
                  class="aligned-input"
                  placeholder="Пароль"
                ></ion-input>

                <ion-icon (click)="toggleShowPassword()"
                          [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                          class="eye-icon"
                >
                </ion-icon>
              </div>

              <div [appValidateInput]="passRef" [control]="password" class="error-container">
                <!-- Контейнер для помилки -->
              </div>
            </div>

            <div class="form-input" #confirmRef [appValidateInput]="confirmRef">
              <div class="input-row">
                <ion-label position="static" [class.focused]="isFocused['lockClosed']" class="flex !justify-center">

                  @if (!isFocused['lockClosed'] || confirmPassword.valid) {
                    <ion-icon name="lock-closed-outline"></ion-icon>
                  }

                  @if (confirmPassword.valid) {
                    <ion-icon class="checkmark-icon" name="checkmark-circle-outline"></ion-icon>
                  }

                  @if (isFocused['lockClosed'] && !confirmPassword.valid) {
                    <ion-spinner name="dots" color="primary"></ion-spinner>
                  }

                </ion-label>

                <ion-input
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  class="aligned-input"
                  placeholder="Підтвердити пароль"
                  [formControl]="confirmPassword"
                  (ionFocus)="onFocus('lockClosed')"
                  (ionBlur)="onBlur('lockClosed')"
                ></ion-input>

                <ion-icon class="eye-icon"
                          [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
                          (click)="toggleShowConfirmPassword()">
                </ion-icon>
              </div>

              <div [appValidateInput]="confirmRef" [control]="confirmPassword" class="error-container">
                <!-- Контейнер для помилки -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</ion-content>

<ion-popover trigger="popover-button" [dismissOnSelect]="true" [showBackdrop]="false">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="isBlurred.set(false)">
          <ion-label>Редагувати</ion-label>
          <img src="/assets/icon/edit-ico2.png" class="h-[22px]">
        </ion-item>
        <ion-item id="delete-alert"
                  [button]="true"
                  [detail]="false"
                  (click)="deleteAccount()"
        >
          <ion-label>Видалити</ion-label>
          <img src="/assets/icon/delete-user-ico.png" class="h-[23px]">
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-popover #popover
             [isOpen]="isBreadCrumbPopoverOpen"
             (didDismiss)="isBreadCrumbPopoverOpen = false"
             [showBackdrop]="false"
>
  <ng-template>
    <ion-content>
      <div class="bg-[#212c40] p-2 flex justify-between items-center">
        <ion-label class="text-xs uppercase">Попередні сторінки</ion-label>
        <ion-icon name="return-down-back-outline"></ion-icon>
      </div>
      <ion-list>
        <ion-item
          *ngFor="let breadcrumb of collapsedBreadcrumbs; last as isLast"
          [href]="breadcrumb?.url"
          [lines]="isLast ? 'none' : null"
        >
          <ion-label>{{ breadcrumb?.label }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
