ion-header {
  box-shadow: none;

  ion-toolbar {
    --background: #e7ecee;
    --border-width: 0;
  }
}
ion-content {
  --background: #e7ecee;

  .wrapper {
    background: linear-gradient(to bottom, #f0f4f7, #b3bac0);
  }
}
