<ion-header>
  <ion-toolbar>
    <edit-page-header></edit-page-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper bg-white h-full rounded-tl-[30px] rounded-tr-[30px] mt-[5px]">
    <div class="flex justify-between p-3 items-center bg-[#182130] rounded-tl-[30px] rounded-tr-[30px]">
      <div class="flex items-center bg-[#182130] rounded-tl-[30px]">
        <ion-avatar slot="start">
          <img src="assets/icon/user2.png"/>
        </ion-avatar>
      </div>
      <ion-button slot="icon-only" (click)="openActionSheet()">
        <ion-icon class="text-[30px] text-white"
                  name="ellipsis-horizontal-circle-outline"
        >
        </ion-icon>
      </ion-button>
    </div>

    <profile-form [isBlurred]="isBlurred"></profile-form>
  </div>

</ion-content>
