
ion-tab-button {
  --ripple-color: transparent;
}

.active-tab {
  border-radius: 6px;
  box-shadow: 0 4px 8px rgb(255 255 255 / 51%);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

