ion-tab-bar {
  position: relative;
}
ion-tab-button {
  --ripple-color: transparent;
}

ion-tab-button {
  --ripple-color: transparent;
  color: #8a8a8a;
  transition: color 0.3s ease;
  background-color: #ffffff;

  &.active-tab {
    ion-icon {
      color: #0d1f3b;
    }
  }
}
