<ion-header>
  <ion-toolbar>
   <div class="pt-2 flex items-center">
     <ion-searchbar placeholder="Пошук"
                    (ionInput)="filterCodes($event)">
     </ion-searchbar>

     @if (selectedCode()) {
       <ion-label class="text-blue-600 pr-1" (click)="submitSelection()">Обрати</ion-label>
     }
   </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      @for(code of displayedCodes; track code.code) {
        <ion-item  class="custom-ion-item">
          <ion-label>
            <span class="font-bold">{{ code.code }}</span> - {{ code.name }}
          </ion-label>
          <ion-radio slot="start" [value]="code.code" (click)="selectCode(code)"></ion-radio>
        </ion-item>
      }
    </ion-radio-group>
    @if (displayedCodes.length) {
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Завантаження..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    }
  </ion-list>
</ion-content>

