<div class="pt-2 pb-2 bg-[#797979] flex flex-col items-center mx-[16px] rounded-t-lg"
     [class.!pb-0]="showSearch()"
>
  <div class="flex justify-between w-full">
    <div class="flex items-center px-[10px] gap-2 text-white">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label class="text-sm uppercase">Автопарки</ion-label>
    </div>

    <div class="flex items-center">
      <ion-icon
        name="search-outline"
        class="text-white text-[20px] pr-[10px]"
        (click)="showSearchBar()"
      >
      </ion-icon>

  </div>
</div>
@if (showSearch()) {
  <ion-searchbar [animated]="true" placeholder="Пошук" color="light" class="!m-0 !pb-0"></ion-searchbar>
}


<!--    <div class="relative flex items-center justify-center bg-[#7777793b] w-[30px] h-[30px] rounded-lg shadow-md mr-4">-->
<!--      <ion-icon name="star-half-outline" class="text-2xl text-[#b5b5b529]"></ion-icon>-->
<!--      <ion-badge class="absolute bottom-0 right-0 transform translate-x-2 translate-y-2 text-white rounded-full text-xs flex items-center justify-center w-5 h-5 bg-[#3e4673]">-->
<!--        {{ 4.3 }}-->
<!--      </ion-badge>-->
<!--    </div>-->
