.top-cards-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 5px;
}

.top-card {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.top-card img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}
