<div class="w-full h-[210px] border-[1px] border-gray-400 rounded-lg p-2 font-sans relative mt-2 bg-[#f2f9ff]">
  <div class="flex justify-between items-center">
    <div class="text-left">
      <span class="block text-xs font-bold">УКРАЇНА</span>
      <span class="block text-xs font-bold">UKRAINE</span>
    </div>
    <div class="text-center">
      <span class="block text-[10px]">ПАСПОРТ ГРОМАДЯНИНА УКРАЇНИ</span>
      <span class="block text-[10px]">PASSPORT OF THE CITIZEN OF UKRAINE</span>
    </div>
    <div class="text-right">
      <img src="assets/icon/ukraine-trizub.png" alt="Ukraine Flag" class="w-8 h-auto">
    </div>
  </div>
  <div class="flex mt-2">
    <div class="w-[100px] h-[130px] border mr-2">
      <ion-icon name="person" class="text-[100px] flex justify-center items-center h-full"></ion-icon>
    </div>
    <div class="flex-grow text-[10px]">
      @for (item of passportData(); track item.key) {
        <div  class="flex justify-between">
          <span class="font-bold">{{ item.key }}</span>
          <span>{{ item.value }}</span>
        </div>
      }
    </div>
  </div>

  <img [src]="signatureImage()" class="h-[35px] absolute right-[20%] bottom-0">
</div>

<edit-urk-id-values [signatureImage]="signatureImage"></edit-urk-id-values>

