ion-card {
  margin-bottom: 15px !important;
  margin-top: 0 !important;
  border-radius: 0 !important;
  display: flex;
  flex-direction: column;
  min-height: 200px !important;
  max-height: 200px !important;
  margin-right: 0;
  margin-left: 0;
}
