ion-card {
  margin-bottom: 15px !important;
  margin-top: 0 !important;
  border-radius: 0 !important;
  display: flex;
  flex-direction: column;
  min-height: 190px !important;
  max-height: 190px !important;
  margin-right: 0;
  margin-left: 0;
  overflow-y: auto;
}

.truncate-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expand-title {
  white-space: normal;
  cursor: pointer;
}

