ion-card {
  margin-bottom: 15px !important;
  margin-top: 0 !important;
  border-radius: 0 !important;
  display: flex;
  flex-direction: column;
  min-height: 188px !important;
  max-height: 188px !important;
}
