<ion-card (click)="selectParking()">
  <ion-card-header class="p-[10px] !flex">
    <div class="flex items-center gap-2 max-w-[75%]">
      @if (uploadedLogoUrl) {
        <img [src]="uploadedLogoUrl" class="h-[40px] w-[40px]">
      }
      <div class="flex flex-col w-full">
        <ion-card-subtitle #subtitle
                           [ngClass]="{'truncate-title': !isSubtitleExpanded(), 'expand-title': isSubtitleExpanded()}"
                           (click)="toggleSubtitleExpand()"
        >{{ parking.location }}
          @if (isSubtitleTruncated()) {
            <ion-icon name="caret-down-outline"></ion-icon>
          }
        </ion-card-subtitle>
        <ion-card-title #title
                        class="text-sm capitalize"
                        [ngClass]="{'truncate-title': !isTitleExpanded(), 'expand-title': isTitleExpanded()}"
                        (click)="toggleTitleExpand()">
          {{ parking.label }}
          @if (isTitleTruncated()) {
            <ion-icon name="caret-down-outline"></ion-icon>
          }
        </ion-card-title>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content>
    <div class="flex items-center pb-1">
      <div class="flex flex-col">
        <div class="flex items-center mt-2">
          <ion-icon name="checkbox-outline" class="text-[#ed520d] mr-1"></ion-icon>
          <span class="text-sm text-gray-700">Успішних угод: {{ parking.freeCars }}</span>
        </div>
        <div class="flex items-center mt-2">
          <ion-icon name="car-outline" class="text-[#ed520d] mr-1"></ion-icon>
          <span class="text-sm text-gray-700">Вільних авто: {{ parking.freeCars }}</span>
        </div>
        <div class="flex items-center mt-2">
          <ion-icon name="car-outline" class="text-[#ed520d] mr-1"></ion-icon>
          <span class="text-sm text-gray-700">В оренді: {{ parking.freeCars }}</span>
        </div>
      </div>
    </div>

    <hr>

    <div class="absolute bottom-[-20px] left-[3%]">
      <!--      <schedule-range [disable]="true"></schedule-range>-->
    </div>

    @if (editMode) {
      <div class="absolute bottom-[-15px] right-[5%] flex items-center gap-2"
           [class.bottom-[-22px]]="!platform.is('ios')"
      >
        <div class="flex flex-col items-centerv bg-[#ededee] border rounded p-1">
          <img src="assets/icon/svg/edit-svg.svg" class="h-[20px]">
        </div>
        <div class="flex flex-col items-center bg-[#ededee] border rounded p-1">
          <img src="assets/icon/svg/delete.svg" class="h-[20px]">
        </div>
      </div>
    } @else {
      <div class="absolute bottom-[-16px] right-[5%] flex items-center gap-2">
        <ion-icon name="chatbubble" class="text-[22px] border rounded p-1"></ion-icon>
        <ion-icon name="person-circle" class="text-[23px] text-[#ed520d] border rounded p-1"></ion-icon>
      </div>
    }

  </ion-card-content>
</ion-card>
