<ion-header>
  <ion-toolbar>
    <ion-title>Реєстрація автопарку</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <park-card [parking]="parking()" [editMode]="false"></park-card>

  <form>
    <div class="form-input" #nameRef [appValidateInput]="nameRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['name']">

          @if (!isFocused['name'] || name.valid) {
            <span>Назва</span>
          }

          @if (name.valid) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

          @if (isFocused['name'] && !name.valid) {
            <ion-spinner name="dots" color="primary"></ion-spinner>
          }

        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          placeholder="Введіть назву автопарку"
          [formControl]="name"
          (ionFocus)="onFocus('name')"
          (ionBlur)="onBlur('name')"
        ></ion-input>
      </div>

      <div [appValidateInput]="nameRef" [control]="name" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>


    <div class="form-input relative" #addressRef [appValidateInput]="addressRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['address']">

          @if (!isFocused['address'] || address.valid) {
            <span>Адреса</span>
          }

          @if (address.value) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

        </ion-label>

        <ion-input #addressInput
          type="text"
          class="aligned-input"
          placeholder="Додайте адресу автопарку"
          [formControl]="address"
          (ionInput)="fetchSuggestions($event.target.value)"
          (ionFocus)="fetchSuggestions(address.value)"
          (ionBlur)="onBlur('address')"
        ></ion-input>
      </div>

      <div [appValidateInput]="addressRef" [control]="address" class="error-container">
        <!-- Контейнер для помилки -->
      </div>

      @if (address.value) {
        <google-places
        [suggestions]="suggestions()"
        [selectSuggestion]="selectSuggestion.bind(this)"
        [control]="address"
        >
        </google-places>
      }
    </div>

    <main-action-btn [title]="'Додати'" [styles]="'py-3'"></main-action-btn>
  </form>
</ion-content>

<ion-popover trigger="popover-trigger">
  <ng-template>
    <div class="flex flex-col text-xs p-4 bg-black rounded-md text-white">
      <h3 class=" font-semibold mb-2">Підтримуючі формати:</h3>
      <div class="flex flex-col space-y-1">
        <ng-container *ngFor="let format of formats">
          <span class="flex items-center text-shadow">
            <ion-icon name="checkmark-outline" class="mr-1 text-green-400"></ion-icon>
            {{ format }}
          </span>
        </ng-container>
      </div>
    </div>
  </ng-template>
</ion-popover>
<!--  <div class="p-6 text-center relative">-->
<!--    <div class="flex flex-col justify-start items-center h-[140px]">-->
<!--      <div class="relative flex flex-col items-center my-2">-->
<!--        @if (!logoUploaded()) {-->
<!--          <img src="/assets/icon/cars-park-gray.png" class="h-[80px]">-->
<!--          <ion-label class="text-xs text-gray-400 font-[400]">Додати логотип</ion-label>-->
<!--        } @else {-->
<!--          <div class="relative">-->
<!--            <img [src]="uploadedLogoUrl" alt="Logo" class="h-20 w-20 object-cover mb-2 rounded">-->
<!--            <ion-buttons class="absolute top-[-10px] right-[-20px]">-->
<!--              <app-close-btn [btnStyles]="'!w-[20px]'" [color]="'black'" (click)="clearSelectedLogo()"></app-close-btn>-->
<!--            </ion-buttons>-->
<!--          </div>-->
<!--        }-->
<!--      </div>-->

<!--      <div class="relative">-->
<!--        <ion-buttons class="absolute left-[-50px] top-[-7px]">-->
<!--          <ion-button id="popover-trigger">-->
<!--            <ion-icon name="images-outline" class="text-[#0f1b44]"></ion-icon>-->
<!--            <ion-icon name="help-circle-outline" class="text-[16px] pb-[25px] text-[#eab308]"></ion-icon>-->
<!--          </ion-button>-->
<!--        </ion-buttons>-->
<!--        <app-upload-btn-->
<!--          [handleFileUpload]="handleFileUpload.bind(this)"-->
<!--          [logoUploading]="logoUploading()"-->
<!--          [uploadProgress]="uploadProgress()"-->
<!--        ></app-upload-btn>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
