<ion-header>
  <ion-toolbar>
    <ion-title>Реєстрація автопарку</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <park-card [parking]="parking()" [editMode]="false" [uploadedLogoUrl]="uploadedLogoUrl"></park-card>

  <form>
    <div class="form-input" #nameRef [appValidateInput]="nameRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['name']">

          @if (!isFocused['name'] || name.valid) {
            <span class="font-bold">Назва</span>
          }

          @if (name.valid) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

          @if (isFocused['name'] && !name.valid) {
            <ion-spinner name="dots" color="primary"></ion-spinner>
          }

        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          placeholder="Введіть назву автопарку"
          [formControl]="name"
          (ionFocus)="onFocus('name')"
          (ionBlur)="onBlur('name')"
        ></ion-input>
      </div>

      <div [appValidateInput]="nameRef" [control]="name" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>


    <div class="form-input relative" #addressRef [appValidateInput]="addressRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['address']">

          @if (!isFocused['address'] || address.valid) {
            <span class="font-bold">Адреса</span>
          }

          @if (address.value) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

        </ion-label>

        <ion-input #addressInput
          type="text"
          class="aligned-input"
          placeholder="Додайте адресу автопарку"
          [formControl]="address"
          (ionInput)="fetchSuggestions($event.target.value)"
          (ionFocus)="fetchSuggestions(address.value)"
          (ionBlur)="onBlur('address')"
        ></ion-input>
      </div>

      <div [appValidateInput]="addressRef" [control]="address" class="error-container">
        <!-- Контейнер для помилки -->
      </div>

      @if (address.value) {
        <google-places
        [suggestions]="suggestions()"
        [selectSuggestion]="selectSuggestion.bind(this)"
        [control]="address"
        >
        </google-places>
      }
    </div>

    <div class="flex flex-col items-center justify-center mb-3">
      <ion-text class="text-xs pb-1">Графік роботи</ion-text>
      <schedule-range [parkScheduler]="parkScheduler"></schedule-range>
    </div>

    <div class="flex items-center gap-1">
      <div class="form-input relative min-w-[86%]" [class.!min-w-[100%]]="!uploadedLogoUrl">
        <div class="input-row">
          <input #fileInput type="file" accept="image/*" (change)="handleFileUpload($event)"
                 class="opacity-0 absolute left-0 right-0 top-0 bottom-0 w-full"
          >
          <ion-text class="flex items-center gap-2 font-[300] justify-center w-full py-1">
            Додати логотип
            @if (logoUploading()) {
              <span class="font-bold">{{ uploadProgress() }} %</span>
            } @else {
              <img src="assets/icon/upload.svg" class="h-5 w-5">
            }
          </ion-text>
        </div>
      </div>

      @if (uploadedLogoUrl) {
        <ion-button fill="clear" class="text-xs w-full mb-2.5" (click)="clearSelectedLogo()">
          <div class="flex flex-col items-center border rounded py-2 px-3 border-red-300">
            <img src="assets/icon/svg/delete.svg" class="h-[25px]">
          </div>
        </ion-button>
      }
    </div>

    <main-action-btn [title]="'Створити автопарк'" [styles]="'py-3'"></main-action-btn>
  </form>
</ion-content>
