<ion-content>
  <app-profile-greetings
    [options]="dataService.getOptions()"
    [selected]="selectedMenuChip"
    [socialMarks]="dataService.getSocialMarks()"
    [carsMarks]="dataService.getCarsMarks()"
  >
  </app-profile-greetings>



  @switch (selectedMenuChip()) {
    @case (MenuSection.PROFILE) {
      <menu-profile
        [pages]="dataService.getProfilePages()"
      ></menu-profile>
    }
  }
</ion-content>

<log-out class="bg-[#b3bac0]"></log-out>

<!--  <ion-button (click)="switchLanguage('uk')">UK</ion-button>-->
<!--  <ion-button (click)="switchLanguage('en')">EN</ion-button>-->
