<ion-card class="android-card">
  <ion-card-content>
    <div class="android-sso-container">
      <ion-icon name="logo-android" class="android-logo"></ion-icon>
      @if(!isLogin()) {
        <p>Зареєструйтесь та увійдіть за допомогою вашого Android акаунту для швидкого та безпечного доступу.</p>
      } @else {
        <p>Увійдіть за допомогою вашого Android акаунту для швидкого та безпечного доступу.</p>
      }
      <div class="tooltip">
        <ion-button expand="full" color="success">
          <ion-icon slot="start" name="logo-android" class="button-icon"></ion-icon>
         <span> Sign in with Android</span>
        </ion-button>
      </div>
    </div>
    @if(!isLogin()) {
      <app-privacy-policy></app-privacy-policy>
    }
  </ion-card-content>
</ion-card>
