
<ion-card class="apple-card">
  <ion-card-content>
    <div class="apple-sso-container">
      <ion-icon name="logo-apple" class="apple-logo"></ion-icon>
      <p>Увійдіть за допомогою вашого Apple ID для швидкого та безпечного доступу.</p>
      <div class="tooltip">
        <ion-button expand="full" color="dark">
          <ion-icon slot="start" name="logo-apple" class="button-icon"></ion-icon>
          Sign in with Apple
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
