.auth-modal {
  --border-radius: 16px 16px 0 0;
  --max-height: 90%;
  --background: #2a3c4e;
  --ion-background-color: #2a3c4e;
  --color: #000000;
  backdrop-filter: blur(10px) brightness(2.5);
}

ion-header {
  box-shadow: none;
  padding: 10px;
}

ion-toolbar {
  border-radius: 16px 16px 0 0;
  --background: #2a3c4e;
  --color: #white;
  app-close-btn {
    top: 10px;
    right: 10px;
  }
}
ion-buttons ion-button {
  --background: transparent;
  --color: #e0f7fa;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50%;
}

