.google-card {
  background: linear-gradient(135deg, #f4ae73 0%, #6e7786 100%);;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.google-sso-container {
  text-align: center;
}

.google-logo {
  font-size: 4rem;
  color: #000000;
  margin-bottom: 20px;
  animation: bounce 2s infinite;
}

p {
  font-size: 14px;
  color: var(--ion-color-medium);
  margin-bottom: 20px;
}

ion-card-title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--ion-color-medium);
  margin-bottom: 20px;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.custom-google-button {
  --border-radius: 0 !important;
  --box-shadow: none;
  --transition: background-color 0.3s ease, box-shadow 0.3s ease;
  --background: #d0e7f2;
  display: flex;
  align-items: center;
  width: 100% !important;
  border: 0.1px solid #ea4336;
}

.custom-google-button:active {
  --background: #2c6bc8;
}
