<ion-card class="google-card">
  <ion-card-content>
    <div class="google-sso-container">
      <ion-icon name="logo-google" class="google-logo"></ion-icon>
      @if(!isLogin()) {
        <p>Зареєструйтесь та увійдіть за допомогою вашого Google акаунту для швидкого та безпечного доступу.</p>
      } @else {
        <p>Увійдіть за допомогою вашого Google акаунту для швидкого та безпечного доступу.</p>
      }
      <ion-button expand="full" color="primary" (click)="signInWithGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Sign in with Google
      </ion-button>
    </div>
    @if(!isLogin()) {
      <app-privacy-policy></app-privacy-policy>
    }
  </ion-card-content>
</ion-card>

