<ion-card class="google-card">
  <ion-card-content>
    <div class="google-sso-container">
      <ion-icon name="logo-google" class="google-logo"></ion-icon>
      @if(!isLogin()) {
        <p>Зареєструйтесь та увійдіть за допомогою вашого Google акаунту для швидкого та безпечного доступу.</p>
      } @else {
        <p>Для швидкого та безпечного доступу увійдіть за допомогою вашого Google акаунту.</p>
      }
    </div>
    <div class="flex justify-center mt-[24px] min-h-[63px] !relative">
      <ion-button id="google-btn" class="custom-google-button" [disabled]="!privacyPolicyAgreement() && !isLogin()">
        <ion-icon name="logo-google" class="text-[#EA4335]" slot="start"></ion-icon>
        Увійти через Google
      </ion-button>
    </div>
    @if(!isLogin()) {
      <app-privacy-policy [privacyPolicyAgreement]="privacyPolicyAgreement"></app-privacy-policy>
    }
  </ion-card-content>
</ion-card>

