<div (@fadeAnimation.done)="onFadeFinished($event)"
     [@fadeAnimation]="{
    value: animationState,
    params: {
      fadeIn: toastConfig.animation?.fadeIn,
      fadeOut: toastConfig.animation?.fadeOut
    }
  }"
     class="toast"
>
  <div [ngClass]="toastState" class="toast-status"></div>

  <div class="toast-content">
    <div class="toast__icon">
      <span class="icon-placeholder">
        <ion-icon [name]="getIconName(toastState)"></ion-icon>
      </span>
    </div>

    <div class="toast-message">
      <div class="toast-title">
        {{ toastState }}
      </div>

      <div class="toast-text">
        {{ toast.message }}
      </div>
    </div>

<!--    <div (click)="closeToast()" class="toast-close">-->
<!--      <ion-icon class="toast-close-icon" name="close"></ion-icon>-->
<!--    </div>-->
  </div>
</div>
