ion-list {
  background: #2a3c4e;
}

ion-button {
  --background: #eef0f6;
  --color: black;
  --border-radius: 0 !important;
  --box-shadow: none;
  --border-style: none !important;

  .btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 7px 0;

    ion-icon {
      font-size: 25px;
      color: #f5834b;
    }
  }
}


form {
  min-height: 100vh !important;
  overflow-y: auto;
}

.login-email-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.login-email-container ion-icon {
  font-size: 24px;
  color: #d1d5db;
}

.custom-button:disabled {
  --background: #d3d3d3;
  --color: #a9a9a9;
  --box-shadow: none;
}

.password-requirements {
  margin-top: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

.password-requirements ul {
  padding-left: 20px;
}

.password-requirements li {
  margin-bottom: 5px;
}

.valid-description {
  font-size: 20px;
  color: #66e566;
}

.valid-field {
  display: flex;
  align-items: center;
  gap: 5px;
}

.eye-icon {
  font-size: 35px;
  padding-right: 10px;
  color: #868686;
}

