ion-list {
  background: #2a3c4e;
}

ion-button {
  --background: #d0e7f2;
  --color: black;
  --border-radius: 0 !important;
  --box-shadow: none;
  --border-style: none !important;

  .btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 7px 0;

    ion-icon {
      font-size: 25px;
      color: #EA4335;
    }
  }
}


form {
  min-height: 100vh !important;
  overflow-y: auto;
}

.login-email-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.login-email-container ion-icon {
  font-size: 24px;
  color: #d1d5db;
}

ion-label {
  min-width: 90px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-right: 0.1px solid black;
  justify-content: center;
  position: relative;
}

ion-input {
  margin-left: 10px;
}

.checkmark-icon {
  position: absolute;
  top: -7px;
  right: 5px;
  color: green;
  font-size: 20px;
}


.custom-button:disabled {
  --background: #d3d3d3;
  --color: #a9a9a9;
  --box-shadow: none;
}

.error-container {
  margin: 0 auto;
}

.password-requirements {
  margin-top: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

.password-requirements ul {
  padding-left: 20px;
}

.password-requirements li {
  margin-bottom: 5px;
}

.valid-description {
  font-size: 20px;
  color: #66e566;
}

.valid-field {
  display: flex;
  align-items: center;
  gap: 5px;
}

.eye-icon {
  font-size: 35px;
  padding-right: 10px;
  color: #868686;
}

.form-input ion-label {
  flex: 1;
}

.aligned-input {
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  color: black;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 2px;
}

.input-row {
  display: flex;
  align-items: center;
}
