<ion-list [formGroup]="form">

  @if (!isLogin()) {
    <div class="form-input" #nameRef [appValidateInput]="nameRef">
      <ion-label position="static" [class.focused]="isFocused['name']">
      <span *ngIf="!isFocused['name']"
      >Ім'я
      </span>
        <ion-icon *ngIf="name.valid && !isFocused['name']" name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
        <ion-spinner *ngIf="isFocused['name']" name="dots" color="primary"></ion-spinner>
      </ion-label>

      <ion-input
        type="text"
        class="aligned-input"
        placeholder="Введіть ваше ім'я"
        [formControl]="name"
        (ionFocus)="onFocus('name')"
        (ionBlur)="onBlur('name')"
      ></ion-input>

      <div [appValidateInput]="nameRef"  [control]="name">
        <!-- Контейнер для помилки -->
      </div>
    </div>
  }
  @if (isLogin()) {
    <div class="login-email-container">
      <app-switcher (toggleChange)="onToggleChange($event)"></app-switcher>
      <ion-icon name="call-outline"></ion-icon>
    </div>
  }

  @if (!isMobileLogin()) {
    <div class="form-input" #emailRef [appValidateInput]="emailRef">
      <ion-label position="static" [class.focused]="isFocused['google']">
        <ion-icon *ngIf="!isFocused['google']" name="logo-google"></ion-icon>

        <ion-icon *ngIf="email.valid && !isFocused['google']" name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
        <ion-spinner *ngIf="isFocused['google']" name="dots" color="primary"></ion-spinner>
      </ion-label>
      <ion-input
        type="text"
        class="aligned-input"
        placeholder="Введіть поштову адресу"
        [formControl]="email"
        (ionFocus)="onFocus('google')"
        (ionBlur)="onBlur('google')"
      ></ion-input>
      <div [appValidateInput]="emailRef"  [control]="email">
        <!-- Контейнер для помилки -->
      </div>
    </div>
  } @else {
    <div class="form-input" #mobileRef [appValidateInput]="mobileRef">
      <ion-label position="static" [class.focused]="isFocused['phone']">
        <ion-icon *ngIf="!isFocused['phone']" name="call-outline"></ion-icon>

        <ion-icon *ngIf="phone.valid && !isFocused['phone']" name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
        <ion-spinner *ngIf="isFocused['phone']" name="dots" color="primary"></ion-spinner>
      </ion-label>
      <ion-input
        type="text"
        class="aligned-input"
        [formControl]="phone"
        (ionFocus)="onFocus('phone')"
        (ionBlur)="onBlur('phone')"
      ></ion-input>
      <div [appValidateInput]="mobileRef"  [control]="phone">
        <!-- Контейнер для помилки -->
      </div>
    </div>
  }



  <div class="form-input" #passRef [appValidateInput]="passRef">
    <ion-label position="static" [class.focused]="isFocused['lockOpen']">
      <ion-icon *ngIf="!isFocused['lockOpen']" name="lock-open-outline"></ion-icon>

      <ion-icon *ngIf="password.valid && !isFocused['lockOpen']" name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
      <ion-spinner *ngIf="isFocused['lockOpen']" name="dots" color="primary"></ion-spinner>
    </ion-label>
    <ion-input
      type="text"
      class="aligned-input"
      placeholder="Пароль"
      [formControl]="password"
      (ionFocus)="onFocus('lockOpen')"
      (ionBlur)="onBlur('lockOpen')"
    ></ion-input>

    <div [appValidateInput]="passRef"  [control]="password">
      <!-- Контейнер для помилки -->
    </div>
  </div>

  @if (!isLogin()) {
  <div class="form-input" #confirmRef [appValidateInput]="confirmRef">
    <ion-label position="static" [class.focused]="isFocused['lockClosed']">
      <ion-icon *ngIf="!isFocused['lockClosed']" name="lock-closed-outline"></ion-icon>

      <ion-icon *ngIf="confirmPassword.valid && !isFocused['lockClosed']" name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
      <ion-spinner *ngIf="isFocused['lockClosed']" name="dots" color="primary"></ion-spinner>
    </ion-label>
    <ion-input
      type="text"
      class="aligned-input"
      placeholder="Підтвердити пароль"
      [formControl]="confirmPassword"
      (ionFocus)="onFocus('lockClosed')"
      (ionBlur)="onBlur('lockClosed')"
    ></ion-input>

    <div [appValidateInput]="confirmRef"  [control]="confirmPassword">
      <!-- Контейнер для помилки -->
    </div>
  </div>
  }

  @if (!isLogin()) {
  <div class="password-requirements">
    <ul>
      <li [class.valid-field]="password.valid">
        <ion-icon *ngIf="password.valid" name="checkmark-circle-outline" class="valid-description"></ion-icon>
        Пароль повинен містити не менше 8 символів.
      </li>
      <li [class.valid-field]="confirmPassword.valid"
      ><ion-icon *ngIf="confirmPassword.valid" name="checkmark-circle-outline" class="valid-description"></ion-icon>
        Пароль повинен співпадати.
      </li>
    </ul>
  </div>

  <app-privacy-policy></app-privacy-policy>
  }
</ion-list>

<ion-button
  expand="block"
  shape="round"
  fill="outline"
  type="submit"
  (click)="onSubmit()"
>
  <div class="btn-text">
  Реєстрація
  <ion-icon name="enter-outline"></ion-icon>
  </div>
</ion-button>

