<form [formGroup]="form" (ngSubmit)="onSubmit()">

  @if (!isLogin()) {
    <div class="form-input" #nameRef [appValidateInput]="nameRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['name']">

          @if (!isFocused['name'] || name.valid) {
            <span>Ім'я</span>
          }

          @if (name.valid) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

          @if (isFocused['name'] && !name.valid) {
            <ion-spinner name="dots" color="primary"></ion-spinner>
          }

        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          placeholder="Введіть ваше ім'я"
          [formControl]="name"
          (ionFocus)="onFocus('name')"
          (ionBlur)="onBlur('name')"
        ></ion-input>
      </div>

      <div [appValidateInput]="nameRef" [control]="name" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>

  }
  @if (isLogin()) {
    <div class="login-email-container">
      <app-switcher (toggleChange)="onToggleChange($event)"></app-switcher>
      <ion-icon name="call-outline"></ion-icon>
    </div>
  }

  @if (!loginByPhone()) {
    <div class="form-input" #emailRef [appValidateInput]="emailRef">
      <div class="input-row">

        <ion-label position="static" [class.focused]="isFocused['google']">
          @if (!isFocused['google'] || email.valid) {
            <ion-icon name="logo-google"></ion-icon>
          }

          @if (email.valid) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

          @if (isFocused['google'] && !email.valid) {
            <ion-spinner name="dots" color="primary"></ion-spinner>
          }
        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          placeholder="Введіть поштову адресу"
          [formControl]="email"
          (ionFocus)="onFocus('google')"
          (ionBlur)="onBlur('google')"
        ></ion-input>
      </div>

      <div [appValidateInput]="emailRef" [control]="email" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>

  } @else if (isLogin()) {
    <div class="form-input" #mobileRef [appValidateInput]="mobileRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['phone']">
          <div class="phone-container">
            <ion-icon name="call-outline"></ion-icon>
            <span>+380</span>
          </div>
          @if (phone.valid) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }
        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          phoneFormatter
          placeholder="(XX)-XXX-XX-XX"
          [formControl]="phone"
          (ionFocus)="onFocus('phone')"
          (ionBlur)="onBlur('phone')"
        ></ion-input>
      </div>

      <div [appValidateInput]="mobileRef" [control]="phone" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>
  }

  <div #passRef [appValidateInput]="passRef" class="form-input">
    <div class="input-row">
      <ion-label [class.focused]="isFocused['lockOpen']" position="static">

        @if (!isFocused['lockOpen'] || password.valid) {
          <ion-icon name="lock-open-outline"></ion-icon>
        }

        @if (password.valid) {
          <ion-icon class="checkmark-icon" name="checkmark-circle-outline"></ion-icon>
        }

        @if (isFocused['lockOpen'] && !password.valid) {
          <ion-spinner name="dots" color="primary"></ion-spinner>
        }

      </ion-label>

      <ion-input
        (ionBlur)="onBlur('lockOpen')"
        (ionFocus)="onFocus('lockOpen')"
        [formControl]="password"
        [type]="showPassword ? 'text' : 'password'"
        class="aligned-input"
        placeholder="Пароль"
      ></ion-input>

      <ion-icon (click)="toggleShowPassword()"
                [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                class="eye-icon"
      >
      </ion-icon>
    </div>

    <div [appValidateInput]="passRef" [control]="password" class="error-container">
      <!-- Контейнер для помилки -->
    </div>
  </div>

  @if (!isLogin()) {
    <div class="form-input" #confirmRef [appValidateInput]="confirmRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['lockClosed']">

          @if (!isFocused['lockClosed'] || confirmPassword.valid) {
            <ion-icon name="lock-closed-outline"></ion-icon>
          }

          @if (confirmPassword.valid) {
            <ion-icon class="checkmark-icon" name="checkmark-circle-outline"></ion-icon>
          }

          @if (isFocused['lockClosed'] && !confirmPassword.valid) {
            <ion-spinner name="dots" color="primary"></ion-spinner>
          }

        </ion-label>

        <ion-input
          [type]="showConfirmPassword ? 'text' : 'password'"
          class="aligned-input"
          placeholder="Підтвердити пароль"
          [formControl]="confirmPassword"
          (ionFocus)="onFocus('lockClosed')"
          (ionBlur)="onBlur('lockClosed')"
        ></ion-input>

        <ion-icon class="eye-icon"
                  [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
                  (click)="toggleShowConfirmPassword()">
        </ion-icon>
      </div>

      <div [appValidateInput]="confirmRef" [control]="confirmPassword" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>

  }

  @if (!isLogin()) {
    <div class="password-requirements">
      <ul>
        <li [class.valid-field]="password.valid">
          @if (password.valid) {
            <ion-icon name="checkmark-circle-outline" class="valid-description"></ion-icon>
          }
          Пароль повинен містити не менше 8 символів.
        </li>
        <li [class.valid-field]="confirmPassword.valid">
          @if (confirmPassword.valid) {
            <ion-icon name="checkmark-circle-outline" class="valid-description"></ion-icon>
          }
          Пароль повинен співпадати.
        </li>
      </ul>
    </div>

    <app-privacy-policy></app-privacy-policy>
  }

  <ion-button class="mt-[20px]"
              expand="block"
              fill="outline"
              shape="round"
              type="submit"
  >
    <div class="btn-text">
      {{ isLogin() ? 'Увійти' : 'Реєстрація' }}
      <ion-icon name="enter-outline"></ion-icon>
    </div>
  </ion-button>
  <ng-content></ng-content>
</form>

