<div class="flex items-center">
  <div class="flex">
    <ion-datetime-button datetime="start"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true" class="wide-alert rounded">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-text class="flex w-full justify-center">
              <div class="flex flex-col items-center">
                <ion-text class="font-bold">Робочий графік</ion-text>
                <ion-text>(Початок роботи)</ion-text>
              </div>
            </ion-text>
          </ion-toolbar>
        </ion-header>
        <ion-datetime id="start" presentation="time" [value]="parkScheduler().open" [preferWheel]="true"></ion-datetime>
        <ion-footer>
          <ion-toolbar>
            <div class="flex items-center gap-1 justify-between">
              <ion-text class="font-bold">24/7</ion-text>
              <ion-checkbox></ion-checkbox>
            </div>

          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </div>
  <span class="px-2">-</span>
  <div class="flex">
    <ion-datetime-button datetime="end"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true" class="wide-alert">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-text class="flex w-full justify-center">
              <div class="flex flex-col items-center">
                <ion-text class="font-bold">Робочий графік</ion-text>
                <ion-text>(Кінець роботи)</ion-text>
              </div>
            </ion-text>
          </ion-toolbar>
        </ion-header>
        <ion-datetime id="end" presentation="time" [value]="parkScheduler().close"  [preferWheel]="true"></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
</div>
