ion-segment {
  border-radius: 10px;
  ion-segment-button {
    --color-checked: #ffffff;
    --indicator-color: #182130;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    --color: #000000;
    ion-label {
      font-weight: 300;
      color: #e8edfc !important;
    }
  }
}
