<ion-segment (ionChange)="onSegmentChanged($event)" [value]="carDataService.selectedSegment()"
             [class.pt-[10px]]="!platform.is('ios')"
             scrollable="false">
  @for (option of carDataService.options(); track option.value) {
    <ion-segment-button class="px-2"
                        [value]="option.value"
                        [hidden]="!option.isVisible"
    >
      @if (platform.is('ios')) {
        <img [src]="option.icon" class="h-[20px]">
      }
      <ion-label
        [class.text-black]="!platform.is('ios')"
      >
        {{ option.label }}
      </ion-label>
    </ion-segment-button>
  }
</ion-segment>
