ion-segment {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  ion-segment-button {
    --color-checked: #ffffff;
    --indicator-color: #0b2d3d;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    --color: #000000;
    ion-label {
      font-weight: 500;
    }

    &.segment-button-checked {
    }
  }
}
