
.loading-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  z-index: 1000;
}

.animated-element {
  font-size: 2rem;
  opacity: 0;
  animation: fadeInUp 2s ease-in-out infinite;
}

.animated-element:nth-child(1) {
  animation-delay: 0s;
}

.animated-element:nth-child(2) {
  animation-delay: 0.7s;
}

.animated-element:nth-child(3) {
  animation-delay: 1.2s;
}

.animated-element:nth-child(4) {
  animation-delay: 1.7s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
