<ion-content>
  <div class="flex w-full items-center justify-between px-4 py-1">
    <div class="text-center">
      <in-rent-all-segment></in-rent-all-segment>
    </div>
    <div class="flex-none">
<!--      <ion-button class="flex justify-end" >-->
<!--        <div class="add-btn flex flex-col items-center">-->
<!--          <ion-icon name="add-circle-outline" class="text-black"></ion-icon>-->
<!--          <ion-label class="text-xs text-black">Додати</ion-label>-->
<!--        </div>-->
<!--      </ion-button>-->
    </div>
  </div>
</ion-content>
