.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  padding: 10px 0;
}

.marquee-content {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.marquee span {
  display: inline-block;
  padding: 0 15px;
  color: #f9f9f9;
  text-shadow: 0 1px 5px rgb(255, 255, 255);
}

ion-icon {
  vertical-align: text-top;
  margin-left: 5px;
  color: #f9f9f9;
  font-size: 18px;
}

.paused {
  animation-play-state: paused;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
.popover-content {
  text-align: center;
  background: linear-gradient(135deg, #0d1f3b 0%, #8f99aa 100%);

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #d0cdcd;
  }

  ion-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #007bff;
  }

  .rating {
    margin: 10px 0;
    ion-icon {
      color: #76cb7a;
      font-size: 24px;
    }
  }
  .description {
    font-size: 14px;
    color: #d0cdcd;
    margin-top: auto;
  }


}

ion-item {
  --background: #696969 !important;
}

ion-list {
  --background: #696969 !important;
  padding: 0;
}
