<div class="marquee">
  <div class="marquee-content" [class.paused]="isPaused()">
    <span *ngFor="let company of companies()"
          (click)="showCompanyDetails($event, company)">
      <ion-icon [name]="company.icon"></ion-icon> {{ company.name }} &nbsp;&nbsp;&nbsp;
    </span>
    <span *ngFor="let company of companies()"
          (click)="showCompanyDetails($event, company)">
      <ion-icon [name]="company.icon"></ion-icon> {{ company.name }} &nbsp;&nbsp;&nbsp;
    </span>
  </div>
</div>

<ion-popover [isOpen]="isPopoverOpen()" [event]="popoverEvent()" [showBackdrop]="false" (ionPopoverDidDismiss)="closePopover()">
  <ng-template>
    <div class="popover-content">
      <h2>{{ selectedCompany()?.name }}</h2>
      <ion-icon [name]="selectedCompany()?.icon" class="animate-bounce"></ion-icon>

      <div class="description">{{ selectedCompany()?.description }}</div>

      <div class="rating">
        <ion-icon *ngFor="let star of getStars(selectedCompany()?.rating)" [name]="star"></ion-icon>
      </div>

      <ion-list>
        <ion-item [button]="true" [detail]="true" id="active-listings-trigger">Активні оголошення</ion-item>
      </ion-list>

      <ion-popover trigger="active-listings-trigger" [dismissOnSelect]="true" side="bottom">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item *ngFor="let listing of selectedCompany()?.listings">
                {{ listing }}
                <ion-icon slot="end" name="car-outline"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </ng-template>
</ion-popover>
