ion-header {
  box-shadow: none;

  ion-toolbar {
    --background: transparent !important;
    --border-width: 0;
    //padding: 0 10px;
  }
}

ion-content {
  --background: linear-gradient(to bottom, #f0f4f7, #b3bac0) !important;

  ion-list {
    background: linear-gradient(to bottom, #f0f4f7, #b3bac0) !important;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 2s linear infinite;
}
