<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button
        [styles]="'!text-[20px] !text-black'"
        [navigateBack]="goBack.bind(this)"
      ></app-back-button>
    </ion-buttons>

    <ion-label class="text-[#0f1b44] flex justify-center pl-[25px] font-[300]">Додати авто</ion-label>

    <ion-buttons slot="end">
      <ion-button class="rounded flex items-center bg-[#e8edfc]"
                  (click)="resetForm()"
      >
        <ion-label class="text-xs uppercase text-black mr-1">Оновити</ion-label>
        <ion-icon
          name="sync-outline"
          class="text-black text-[18px]"
          [class.animate-spin]="isFormReset()"
        >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mb-5">
    <ion-label class="text-[#0f1b44] font-[300]">Додати зображення</ion-label>
    <images-info></images-info>
  </div>

  <div class="mb-1 relative">
    <main-info></main-info>
    <ion-label class="text-[#333333] text-sm font-[300] absolute -top-[9px] left-[12px] bg-[#ffffff] rounded-[12px] px-2">Головна інформація</ion-label>
  </div>
</ion-content>
