<ion-header>
  <ion-toolbar>
    <button #generateBtn (click)="generateAndViewPDF()" class="text-black"></button>

    <app-back-button
      [styles]="'!text-[20px]'"
      [navigateBack]="goBack.bind(this)"
    ></app-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  @if (pdfSrc()) {
    <pdf-viewer [src]="pdfSrc()" class="flex w-full h-full"
                [render-text]="true"
                [original-size]="false"
                [show-borders]="true"
                [autoresize]="true"
    ></pdf-viewer>
  }
</ion-content>
<!--  <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>-->
