
ion-header {
  box-shadow: none;
  ion-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    --background: #eff1f7;

    button {
      display: none;
    }
  }
}
ion-content {
  --background: #eef0f6 !important;
}

#text{
  stroke-dasharray: 4004;
  position: absolute;
  left: 0;
  right: 0;
  animation: 3s fillSvg linear;
}

@keyframes fillSvg{
  0%{
    stroke-dashoffset: 4004;
  }
  100%{
    stroke-dashoffset: 0;
  }
}
