<div class="rounded relative border-[2px] border-black min-w-[100px] min-h-[100px] max-w-[100px] max-h-[100px] flex flex-col items-center justify-evenly bg-[#c7cdd3] shadow-lg m-1">
  <ion-text class="overflow-hidden whitespace-nowrap text-ellipsis w-[80%] text-[16px] font-[800] text-center">{{ 'ІНН' }}</ion-text>
  <ion-icon name="document" class="text-[24px] text-[#000]"></ion-icon>

  <div class=" absolute top-0 left-0 w-full h-full bg-[#00122d80] flex items-center justify-center">
    <ion-text class="text-white text-xs font-bold">Не заповнено</ion-text>
  </div>
</div>
