ion-header {
  box-shadow: none;

  ion-toolbar {
    --background: #fff !important;
    --border-width: 0;
    padding: 0 10px;
  }
  ion-searchbar {
    --background: #e8edfc;
    --color: gray;
  }
}

ion-content {
  --background: #fff !important;
}
ion-list {
  background: transparent !important;
}
