<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-close-btn [btnStyles]="'!w-[20px]'" [color]="'gray'" (click)="closeModal(false)"></app-close-btn>
    </ion-buttons>

    <ion-label class="text-gray-400 flex justify-center pl-[25px] font-[300]">{{ title }}</ion-label>

    <ion-buttons slot="end">
      <ion-label (click)="submitSelection()" class="text-gray-400">Обрати</ion-label>
    </ion-buttons>
  </ion-toolbar>
  @if (withSearch) {
    <ion-searchbar class="bg-white"
      placeholder="Пошук"
      show-cancel-button="focus"
      show-clear-button="never"
      cancel-button-text="Скасувати"
      (ionInput)="filterItems($event)"
    >
    </ion-searchbar>
  }
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group
      [value]="selectedValue()"
      (ionChange)="onSelectChange($event.target.value)"
    >
      @for(item of visibleItems(); track item.value) {
        <ng-container *ngIf="!Array.isArray(item)">
          <ion-item class="text-gray-400" lines="none">
            @if (item.icon) {
              <img [src]="item.icon" class="w-[40px] mr-2">
            }
            <ion-radio [value]="item" justify="space-between">{{ item.name ?? item.label }}</ion-radio>
          </ion-item>
        </ng-container>
        <ng-container *ngIf="Array.isArray(item)">
          @for(subItem of item; track subItem.value) {
            <ion-item class="text-gray-400" lines="none">
              @if (subItem.icon) {
                <img [src]="subItem.icon" class="w-[40px] mr-2">
              }
              <ion-radio [value]="subItem" justify="space-between">{{ subItem.name ?? subItem.label }}</ion-radio>
            </ion-item>
          }
        </ng-container>
      }
    </ion-radio-group>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Завантаження ще...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
