<ion-card class="ion-no-margin">
  <div class="mock-img relative">
    <notifications-preview
      class="absolute bottom-0 right-[15px]"
      [styles]="'text-[#eff8ff]'"
      [socialMarks]="socialMarks()"
      [carsMarks]="carsMarks()"
    >
    </notifications-preview>
  </div>
  <ion-card-content>
    <div class="chip-container">
      @for (chip of options(); track chip.value) {
        <ion-chip
          [class.bg-[#dce1e4]]="chip.value === selected()"
          outline="outline"
          (click)="chipSelected(chip.value)"
        >
          <img [src]="chip.icon" class="h-[14px] w-[14px] mr-2">
          <ion-label>{{ chip.label }}</ion-label>
        </ion-chip>
      }
    </div>
  </ion-card-content>

</ion-card>
