<ion-card class="ion-no-margin">
  <div class="mock-img relative">
    <notifications-preview class="absolute bottom-0" [styles]="'text-[#eff8ff]'"></notifications-preview>
  </div>
  <ion-card-content>
    <div class="chip-container">
      @for (chip of options(); track chip.value) {
        <ion-chip outline="outline">
          <ion-icon [name]="chip.icon" color="primary"></ion-icon>
          <ion-label>{{ chip.label }}</ion-label>
        </ion-chip>
      }
    </div>
  </ion-card-content>

</ion-card>
