<ion-grid>
  <ion-row>
    @for(page of lastTwoPages; track page.value) {
    <ion-col size="6">
      <ion-card (click)="openPage(page)" [class.create]="page.value === MenuPage.CREATE">
       <ion-card-header>
          <ion-card-subtitle>
            <img [src]="page.icon" [class]="page.iconClass">
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-padding">
          <ion-label class="text-black font-[500]">{{ page.label }}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    }
  </ion-row>
</ion-grid>

<ion-label class="px-3 text-black font-[600] upp">Інформація аккаунту</ion-label>
<ion-grid>
  <ion-row>
    @for(page of mainPages; track page.value) {
    <ion-col size="6">
    <ion-card (click)="openPage(page)">
      <ion-card-header>
        <ion-card-subtitle>

          <img [src]="page.icon" [class]="page.iconClass">
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-padding">
        <ion-label class="text-black font-[500]" [class.left-padding]="platform.is('ios')">
      {{ page.label }}
      </ion-label>
      </ion-card-content>
      <ion-badge *ngIf="page.value === MenuPage.SALE" class="sale-badge">1</ion-badge>
      </ion-card>
    </ion-col>
    }
  </ion-row>
</ion-grid>

<ion-label class="px-3 text-black font-[600] upp">Допомога</ion-label>
<ion-grid>
  <ion-row>
    @for(page of settingsAndHelpPages; track page.value) {
    <ion-col size="6">
      <ion-card (click)="openPage(page)">
        <ion-card-header>
          <ion-card-subtitle>
            <img [src]="page.icon" [class]="page.iconClass">
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-padding">
          <ion-label class="text-black font-[500]">{{ page.label }}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    }
  </ion-row>
</ion-grid>
