<div class="flex items-center w-full justify-between mt-4">
  <div class="flex flex-col">
    <div class="flex flex-col gap-1">
      <div class="flex items-center gap-1">
        <ion-label class="text-sm font-[300] text-[#333333]">Тільки з водієм</ion-label>
        <ion-icon name="help-circle-outline" class="text-[20px]" id="with-driver"></ion-icon>
      </div>
    </div>
  </div>
  <div class="flex items-center">
    <app-switcher (toggleChange)="onlyWithDriverToggleChange($event)" [isOn]="onlyWithDriver()"></app-switcher>
  </div>
</div>

<div class="flex items-center w-full justify-between mt-4">
  <div class="flex flex-col">
    <div class="flex items-center gap-1">
      <ion-label class="text-sm font-[300] text-[#333333]">Водій за запитом</ion-label>
      <ion-icon name="help-circle-outline" class="text-[20px]" id="driver-on-request"></ion-icon>
    </div>
  </div>
  <div class="flex items-center">
    <app-switcher (toggleChange)="onlyRequestedDriver($event)" [isOn]="driverRequested()"></app-switcher>
  </div>
</div>


<ion-popover trigger="with-driver" [dismissOnSelect]="true" side="bottom" [showBackdrop]="false">
  <ng-template>
    <ion-content class="ion-padding">
      <p class="text-sm text-white">
        Автомобіль надається в оренду виключно з професійним водієм, що забезпечує безпечну та комфортну подорож.
      </p>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-popover trigger="driver-on-request" [dismissOnSelect]="true" side="bottom" [showBackdrop]="false">
  <ng-template>
    <ion-content class="ion-padding">
      <p class="text-sm text-white">
        Можливість додавання професійного водія за запитом для забезпечення додаткового комфорту та безпеки орендарів.
      </p>
    </ion-content>
  </ng-template>
</ion-popover>
