<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button [navigateBack]="navigateBack.bind(this)"></app-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-fab [fabItems]="fabItems" title="ВХІД"></app-fab>
    </ion-buttons>
  </ion-toolbar>
  <app-segments [options]="options" (segmentChanged)="onSignUpSegmentChanged($event)"></app-segments>
</ion-header>

<ion-content class="ion-padding">
  @switch (selectedSegment) {
    @case (SegmentType.STANTDART) {
      <sign-up-form></sign-up-form>
    }
    @case (SegmentType.GOOGLE) {
      <app-google-sso></app-google-sso>
    }
    @case (SegmentType.APPLE) {
      <app-apple-ios></app-apple-ios>
    }
    @case (SegmentType.ANDROID) {
    <app-android-form></app-android-form>
    }
  }
</ion-content>

