<ion-header>
  <companies-marquee></companies-marquee>
  <ion-toolbar>
    @if (!isLogin()) {
      <app-back-button
        [styles]="'text-[20px]'"
        [navigateBack]="navigateBack.bind(this)"
      ></app-back-button>
    }
    <ion-buttons slot="end">
      <app-close-btn (click)="closeModal()"></app-close-btn>
    </ion-buttons>
  </ion-toolbar>

  <app-segments
    [options]="options"
    [selectedSegment]="selectedSegment"
  ></app-segments>

</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true">
  @switch (selectedSegment()) {
    @case (SegmentType.STANTDART) {
      <sign-up-form
        [isLogin]="isLogin"
        [selectedSegment]="selectedSegment"
        [options]="options"
      >
        @if (isLogin()) {
          <div class="register-prompt">
            <div class="register-prompt-desc">
              <span class="register-prompt-desc-text">Не маєш профілю?</span>
              <span class="register-link">Реєстрація</span>
            </div>


            <app-fab [fabItems]="fabItems" class="!mr-[60px]"
                     icon="enter-outline"
            ></app-fab>
          </div>
        }
      </sign-up-form>


    }
    @case (SegmentType.GOOGLE) {
      <app-google-sso [isLogin]="isLogin()"></app-google-sso>
    }
<!--    @case (SegmentType.APPLE) {-->
<!--      <app-apple-ios [isLogin]="isLogin()"></app-apple-ios>-->
<!--    }-->
<!--    @case (SegmentType.ANDROID) {-->
<!--      <app-android-form [isLogin]="isLogin()"></app-android-form>-->
<!--    }-->
  }
</ion-content>
