.auth-modal {
  --border-radius: 16px 16px 0 0;
  --max-height: 90%;
  --background: #2a3c4e;
  --ion-background-color: #2a3c4e;
  --color: #000000;
  backdrop-filter: blur(10px) brightness(2.5);

  ion-header {
    box-shadow: none;
    padding: 0 15px;
  }

  ion-toolbar {
    border-radius: 16px 16px 0 0;
    --background: #2a3c4e;
    --color: #white;
    --padding-bottom: 5px;
    --padding-top: 5px;
    --min-height: 80px;

    app-close-btn {
      top: 10px;
      right: 10px;
    }
  }

  app-fab {
    padding-bottom: 70px;
  }
}

.handler-fab-btn {
  font-size: 25px;
}
