<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button [navigateBack]="navigateBack.bind(this)"></app-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      @if(!isLogin()) {
        <app-fab [fabItems]="fabItems"
                 title="{{ !isLogin() ? 'ВХІД' : '' }}"
        ></app-fab>
      } @else {
        <ion-button (click)="handleFab()" class="handler-fab-btn">
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
  <app-segments
    [options]="options"
    [selectedSegment]="selectedSegment"
  ></app-segments>
</ion-header>

<ion-content class="ion-padding">
  @switch (selectedSegment()) {
    @case (SegmentType.STANTDART) {
      <sign-up-form [isLogin]="isLogin()"></sign-up-form>
    }
    @case (SegmentType.GOOGLE) {
      <app-google-sso [isLogin]="isLogin()"></app-google-sso>
    }
    @case (SegmentType.APPLE) {
      <app-apple-ios [isLogin]="isLogin()"></app-apple-ios>
    }
    @case (SegmentType.ANDROID) {
      <app-android-form [isLogin]="isLogin()"></app-android-form>
    }
  }
</ion-content>

