<ion-header class="shadow-none" [translucent]="true">
  <ion-toolbar>
    <div class="flex flex-col w-full">
      <div class="flex justify-between items-center py-2">
        <ion-buttons slot="start">
          <app-back-button
            [styles]="'!text-[20px] !ml-2'"
            [navigateBack]="navigateBack.bind(this)"
          ></app-back-button>
        </ion-buttons>

        <ion-breadcrumbs [maxItems]="2" (ionCollapsedClick)="presentPopover($event)" [itemsBeforeCollapse]="0">
          @for (breadcrumb of breadcrumbsService.breadcrumbsRoutes(); track breadcrumb.url) {
            <ion-breadcrumb
              [href]="breadcrumb.url"
            >
              {{ breadcrumb.label | breadcrumbLabel }}
            </ion-breadcrumb>
          }
        </ion-breadcrumbs>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>

<ion-popover #popover
             [isOpen]="isBreadCrumbPopoverOpen()"
             (didDismiss)="isBreadCrumbPopoverOpen.set(false)"
             [showBackdrop]="false"
>
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item
          *ngFor="let breadcrumb of collapsedBreadcrumbs; last as isLast"
          [href]="breadcrumb?.url"
          [lines]="isLast ? 'none' : null"
        >
          <ion-label>{{ breadcrumb?.label }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
