<form [formGroup]="form" class="px-3 my-3">
  <div class="flex justify-between items-center">
    <ion-label class="text-[#1f2937] !border-none mb-2 font-bold">Особиста інформація</ion-label>
  </div>

  <div [class.blurred]="isBlurred()">
    <div class="form-input" #nameRef [appValidateInput]="nameRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['name']">

          @if (!isFocused['name'] || userName.valid) {
            <span class="font-bold">Ім'я</span>
          }

          @if (userName.valid) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

          @if (isFocused['name'] && !userName.valid) {
            <ion-spinner name="dots" color="primary"></ion-spinner>
          }

        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          placeholder="Введіть ваше ім'я"
          [formControl]="userName"
          (ionFocus)="onFocus('name')"
          (ionBlur)="onBlur('name')"
        ></ion-input>
      </div>

      <div [appValidateInput]="nameRef" [control]="userName" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>

    <div class="flex items-center">

      <ion-label
        class="!border-r-0 flex !justify-start !py-0 !pb-[5px]"
        position="static"
        [class.focused]="isFocused['surname']"
      >

        @if (!isFocused['surname'] || userSurname.valid) {
          <span class="font-bold">По батькові</span>
        }

        @if (userSurname.value) {
          <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
        }

        @if (isFocused['surname'] && !userSurname.valid) {
          <ion-spinner name="dots" color="primary"></ion-spinner>
        }
      </ion-label>

      <div class="form-input w-full" #surnameRef [appValidateInput]="surnameRef">
        <ion-input
          type="text"
          class="aligned-input"
          placeholder="Заповніть дані"
          [formControl]="userSurname"
          (ionFocus)="onFocus('surname')"
          (ionBlur)="onBlur('surname')"
        ></ion-input>


        <div [appValidateInput]="surnameRef" [control]="userSurname" class="error-container">
          <!-- Контейнер для помилки -->
        </div>
      </div>

    </div>

    <div class="form-input" #lastNameRef [appValidateInput]="lastNameRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['lastName']">

          @if (!isFocused['lastName'] || userLastName.valid) {
            <span class="font-bold">Прізвище</span>
          }

          @if (userLastName.value) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

          @if (isFocused['lastName'] && !userLastName.valid) {
            <ion-spinner name="dots" color="primary"></ion-spinner>
          }

        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          placeholder="Додайте прізвище"
          [formControl]="userLastName"
          (ionFocus)="onFocus('lastName')"
          (ionBlur)="onBlur('lastName')"
        ></ion-input>
      </div>

      <div [appValidateInput]="lastNameRef" [control]="userLastName" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>

    <div class="form-input" #mobileRef [appValidateInput]="mobileRef">
      <div class="input-row">
        <ion-label position="static" [class.focused]="isFocused['phone']">
          <div class="phone-container flex items-center gap-1"
               (click)="openCodes($event)"
          >
            <span class="font-bold">{{ countryPhone() }}</span>
            <ion-icon name="caret-down-outline"></ion-icon>

          </div>
          @if (phone.value) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }
        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          phoneFormatter
          placeholder="Ваш мобільний"
          [formControl]="phone"
          (ionFocus)="onFocus('phone')"
          (ionBlur)="onBlur('phone')"
        ></ion-input>
      </div>

      <div [appValidateInput]="mobileRef" [control]="phone" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>

    <div class="form-input" #emailRef [appValidateInput]="emailRef">
      <div class="input-row">

        <ion-label position="static" [class.focused]="isFocused['google']" class="flex !justify-center">
          @if (!isFocused['google'] || email.valid) {
            <ion-icon name="logo-google"></ion-icon>
          }

          @if (email.valid) {
            <ion-icon name="checkmark-circle-outline" class="checkmark-icon"></ion-icon>
          }

          @if (isFocused['google'] && !email.valid) {
            <ion-spinner name="dots" color="primary"></ion-spinner>
          }
        </ion-label>

        <ion-input
          type="text"
          class="aligned-input"
          placeholder="Введіть поштову адресу"
          [formControl]="email"
          (ionFocus)="onFocus('google')"
          (ionBlur)="onBlur('google')"
        ></ion-input>
      </div>

      <div [appValidateInput]="emailRef" [control]="email" class="error-container">
        <!-- Контейнер для помилки -->
      </div>
    </div>

    <ion-label class="text-[#1f2937] !border-none flex !justify-start font-bold">Документи</ion-label>

    <div class="flex items-center gap-2 mb-2">
      <passport (click)="openDoc(DOC_TYPE.PASSPORT)"></passport>
      <inn-code (click)="openDoc(DOC_TYPE.INN)"></inn-code>
      <driver-licence (click)="openDoc(DOC_TYPE.DRIVER_LICENCE)"></driver-licence>
    </div>

    @if (userInfoDirty) {
      <ripple-btn
        [title]="'Зберегти зміни'"
        [styles]="'text-[#646565] text-white !border-none bg-[#182130]  text-[16px] font-[300] !mt-[10px]'"
        (click)="initEditUser()"
      >
      </ripple-btn>
    }
    <ion-label class="text-[#1f2937] !border-none flex !justify-start font-bold">Зміна пароля</ion-label>


    {{ passwordBlurred() }}
    <div (click)="confirmEditPassword()">
      <div #passRef [appValidateInput]="passRef" class="form-input"
           [class.pointer-events-none]="passwordBlurred() && !userModel()?.ssoUser">
        <div class="input-row">
          <ion-label [class.focused]="isFocused['lockOpen']" position="static" class="flex !justify-center">

            @if (!isFocused['lockOpen'] || password.valid) {
              <ion-icon name="lock-open-outline"></ion-icon>
            }

            @if (password.valid) {
              <ion-icon class="checkmark-icon" name="checkmark-circle-outline"></ion-icon>
            }

            @if (isFocused['lockOpen'] && !password.valid) {
              <ion-spinner name="dots" color="primary"></ion-spinner>
            }

          </ion-label>

          <ion-input
            (ionBlur)="onBlur('lockOpen')"
            (ionFocus)="onFocus('lockOpen')"
            [formControl]="password"
            [type]="showPassword ? 'text' : 'password'"
            class="aligned-input"
            placeholder="Новий пароль"
          ></ion-input>

          <ion-icon (click)="toggleShowPassword()"
                    [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                    class="eye-icon"
          >
          </ion-icon>
        </div>

        <div [appValidateInput]="passRef" [control]="password" class="error-container">
          <!-- Контейнер для помилки -->
        </div>
      </div>

      <div class="form-input" #confirmRef [appValidateInput]="confirmRef"
           [class.pointer-events-none]="passwordBlurred() && !userModel()?.ssoUser">
        <div class="input-row">
          <ion-label position="static" [class.focused]="isFocused['lockClosed']" class="flex !justify-center">

            @if (!isFocused['lockClosed'] || confirmPassword.valid) {
              <ion-icon name="lock-closed-outline"></ion-icon>
            }

            @if (confirmPassword.valid) {
              <ion-icon class="checkmark-icon" name="checkmark-circle-outline"></ion-icon>
            }

            @if (isFocused['lockClosed'] && !confirmPassword.valid) {
              <ion-spinner name="dots" color="primary"></ion-spinner>
            }

          </ion-label>

          <ion-input
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="aligned-input"
            placeholder="Підтвердити пароль"
            [formControl]="confirmPassword"
            (ionFocus)="onFocus('lockClosed')"
            (ionBlur)="onBlur('lockClosed')"
          ></ion-input>

          <ion-icon class="eye-icon"
                    [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
                    (click)="toggleShowConfirmPassword()">
          </ion-icon>
        </div>

        <div [appValidateInput]="confirmRef" [control]="confirmPassword" class="error-container">
          <!-- Контейнер для помилки -->
        </div>
      </div>
    </div>

    @if (userPasswordDirty) {
      <main-action-btn [title]="'Оновити пароль'" [icon]="'refresh-outline'"
                       [action]="changePassword.bind(this)"></main-action-btn>
    }
  </div>
</form>


