form {
  overflow-y: auto;

  .eye-icon {
    font-size: 35px;
    padding-right: 10px;
    color: #868686;
  }

  .blurred {
    filter: blur(6px);
    transition: filter 0.3s ease-in-out;
    pointer-events: none;
  }
}


ion-fab-button {
  --background: #242e3f;
}
