<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <p class="text-justify mt-4">
        <ion-icon name="help-circle-outline" class="text-yellow-500 mr-2"></ion-icon>
        Створення автопарків дозволяє ефективно керувати транспортними засобами в різних локаціях. Ви можете додавати машини для зручного пошуку та організації, а також отримувати відгуки та оцінки для покращення сервісу.
      </p>

      <ion-accordion-group class="mt-[10px]">
        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-icon name="bulb-outline" class="text-yellow-500 mr-2 text-[20px]"></ion-icon>
            <ion-label>Поради з управління</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ul class="list-disc pl-5 mt-2">
              <li><strong>Актуалізуйте дані:</strong> Регулярно оновлюйте інформацію про транспортні засоби для забезпечення їх точності та актуальності.</li>
              <li><strong>Моніторинг відгуків:</strong> Відстежуйте відгуки та оцінки користувачів для покращення якості обслуговування.</li>
              <li><strong>Використовуйте картографічні сервіси:</strong> Застосовуйте інтерактивні карти для зручного пошуку і управління автопарками.</li>
              <li><strong>Підтримка комунікації:</strong> Підтримуйте регулярний зв'язок з орендарями для підвищення рівня задоволеності клієнтів.</li>
            </ul>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <div class="py-2 bg-[#182130] flex justify-between">
      <div class="flex items-center px-[20px] gap-2 text-white">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label class="text-xs uppercase">Автопарки</ion-label>
      </div>

      <div class="relative flex items-center justify-center bg-[#7777793b] w-[30px] h-[30px] rounded-lg shadow-md mr-4">
        <ion-icon name="star-half-outline" class="text-2xl text-[#b5b5b529]"></ion-icon>
        <ion-badge class="absolute bottom-0 right-0 transform translate-x-2 translate-y-2 text-white rounded-full text-xs flex items-center justify-center w-5 h-5 bg-[#3e4673]">
          {{ 4.3 }}
        </ion-badge>
      </div>
    </div>
    <ion-item *ngFor="let parking of userCarParkings">
      <ion-thumbnail slot="start">
        <img [src]="parking.img" [alt]="parking.label" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ parking.label }}</h2>
        <p>{{ parking.location }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" >
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

