ion-content {
  --background: linear-gradient(to bottom, #f0f4f7, #b3bac0) !important;
  //padding: 16px;

  ion-list {
    --background: white !important;
    border-radius: 8px;

    ion-item {
      --background: white !important;
      color: black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      ion-thumbnail {
        border-radius: 4px;
        overflow: hidden;
        margin-right: 16px;
      }

      ion-label {
        font-size: 16px;
        color: black;

        h2 {
          margin: 0;
          font-size: 18px;
          font-weight: bold;
        }

        p {
          margin: 0;
          font-size: 14px;
          color: #666; /* Dark gray color for the subtitle */
        }
      }
    }
  }

  ion-card {
    margin: 10px 0;
    background: linear-gradient(135deg, #526f9d 0%, #161f2d 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: lightsteelblue;
  }
}

