<ion-list lines="none">
  @for(item of listItems(); track item.value) {
    <ion-item (click)="onItemClicked(item.callback)">
      <div class="min-w-[10%]">
        @if (checkmarkHandle(item)) {
          <ion-icon name="checkmark" slot="start" class="text-xs text-green-400"></ion-icon>
        }
      </div>

      <ion-label class="!text-gray-400 text-nowrap">{{ item.label }}:</ion-label>

      @if (item.label === technicalListLabel.FUEL) {
        <div class="w-full overflow-x-auto flex flex-nowrap">
          @for(fuel of item.value; track fuel.value) {
            <ion-chip class="text-black min-w-fit bg-[#e8edfc] text-nowrap"
                      [class.selectedChip]="fuel === technicalCharacteristics.fuelType()"
                      (click)="fuelTypeSelected(fuel)"
            >{{ fuel.name }}
              @if (fuel === technicalCharacteristics.fuelType()) {
                <ion-icon name="close-circle-outline"
                          class="text-[#ff4500]"
                          (click)="clearFuelType($event)"
                >
                </ion-icon>
              }
            </ion-chip>
          }
        </div>
      }

      @if (item.label !== technicalListLabel.FUEL) {
        <ion-text class="flex items-center gap-1 text-black">
          @if (item.value) {
            <span>{{ item.value }}</span>
          } @else {
            <app-switcher
              *ngIf="item.label === technicalListLabel.FUEL_CONSUMPTION"
              [isOn]="technicalCharacteristics.isFuelConsumption()"
              (toggleChange)="fuelConsumptionToggle($event)"
            >
            </app-switcher>

            <span *ngIf="item.label !== technicalListLabel.FUEL_CONSUMPTION" class="text-gray-400">
              Обрати
              <ion-icon name="chevron-down-outline" class="text-xs text-gray-400"></ion-icon>
            </span>
          }
        </ion-text>
      }
    </ion-item>
  }
</ion-list>
