ion-list {
  border-radius: 12px;
  background: #ffffff;
  padding-top: 15px;
  ion-item {
    --background: transparent;
    font-size: 14px;
  }

  .selectedChip {
    background: #19273c;
    color: white;
  }
}

