ion-list {
  border-radius: 12px;
  background: #ffffff;
  padding-top: 15px;
  ion-item {
    --background: transparent;
    font-size: 14px;
  }

  .selectedChip {
    background: #19273c;
    color: white;
  }

}

.auth-modal {
  --background: white !important;
  ion-content {
    --background: white !important;
  }
}

.sc-ion-input-md-h {
  --highlight-color-focused: #9ca3af !important;
  --highlight-color-valid: transparent !important;
  --highlight-color-invalid: transparent !important;
}

