ion-list {
  border-radius: 12px;
  background: #ffffff;
  padding-top: 15px;
  ion-item {
    --background: transparent;
    font-size: 14px;
  }

  .selectedChip {
    background: #19273c;
    color: white;
  }
  
}
.slide-down-animation {
  animation: slide-down 0.8s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


