<ion-header>
  <ion-toolbar>
    <div class="flex items-center px-1">
      <app-back-button
        [styles]="'!text-[20px]'"
        [navigateBack]="goBack.bind(this)"
      ></app-back-button>
      <ion-title>Паспорт</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment scrollable="true" [value]="selectedPassport().value" (ionChange)="onSegmentChange($event)">
    @for (option of passportTypes(); track option.value) {
      <ion-segment-button [value]="option.value">
        <ion-label class="font-[300] text-[16px]">{{ option.label }}</ion-label>
      </ion-segment-button>
    }
  </ion-segment>

  @switch (selectedPassport().value) {
    @case (PASSPORT_UKR.ID) {
      <urk-id-passport></urk-id-passport>
    }
    @case (PASSPORT_UKR.OLD) {
      <urk-old-passport></urk-old-passport>
    }
  }
</ion-content>
