.perforated-text {
  font-family: monospace;
  font-size: 24px;
  letter-spacing: 7px;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAwAB/ifQw3sAAAAASUVORK5CYII=') repeat; /* Light gray background to mimic perforation paper */
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  color: #cecece;
}

.perforated-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  background: none;
  text-shadow: 1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  0 1px 0 #000,
  1px 0 0 #000,
  -1px 0 0 #000,
  0 -1px 0 #000;
  z-index: -1;
}
#text{
  stroke-dasharray: 4004;
  position: absolute;
  left: 0;
  right: 0;
  animation: 2s fillSvg linear;
}

@keyframes fillSvg{
  0%{
    stroke-dashoffset: 4004;
  }
  100%{
    stroke-dashoffset: 0;
  }
}
