<div class="w-full h-[500px] border-[1px] border-black rounded-lg p-4 bg-gray-100 font-sans mt-2">
  <div class="flex justify-center mb-4">
    <span class="text-lg font-bold tracking-widest">ПАСПОРТ</span>
  </div>
  <div class="w-full flex justify-center">
    <div class="w-[100px] h-[130px] text-center border mr-2">
      <ion-icon name="person" class="text-[100px] flex justify-center items-center h-full"></ion-icon>
    </div>
  </div>

  <div class="text-sm">
    <div class="mb-2 flex justify-between items-center">
      <span class="font-bold">Прізвище:</span> <span class="text-right flex-grow">КУТОВА</span>
    </div>
    <div class="mb-2 flex justify-between items-center">
      <span class="font-bold">Ім'я:</span> <span class="text-right flex-grow">ТАМАРА</span>
    </div>
    <div class="mb-2 flex justify-between items-center">
      <span class="font-bold">По батькові:</span> <span class="text-right flex-grow">ВОЛОДИМИРІВНА</span>
    </div>
    <div class="mb-2 flex justify-between items-center">
      <span class="font-bold">Дата народження:</span> <span class="text-right flex-grow">03 КВІТНЯ 1986</span>
    </div>
    <div class="mb-2 flex justify-between items-center">
      <span class="font-bold">Місце народження:</span> <span class="text-right flex-grow">с. ТЕРНАВКА</span>
    </div>
    <div class="mb-2 flex justify-between items-center">
      <span class="font-bold">Область:</span> <span class="text-right flex-grow">ХМЕЛЬНИЦЬКОЇ ОБЛ.</span>
    </div>
    <div class="mt-4 text-center">
      <span class="block font-bold">Підпис власника паспорта</span>
      <span class="block mt-2">________________________</span>
    </div>
  </div>
</div>
