
<ion-list>
  <div class="flex items-center pr-[10px]">
    <div class="chip-container">
      @for (chip of allCarsData.chips(); track chip.value) {
        <ion-chip

          outline="outline"
          (click)="chipSelected(chip)"
        >
          <ion-icon [name]="chip.icon" color="primary"></ion-icon>
          <ion-label>{{ chip.label }}</ion-label>
        </ion-chip>
      }
    </div>
    <ion-buttons slot="end" class="pt-[10px] pl-[10px]">
      <ion-button>
        <div class="add-btn flex flex-col justify-center items-center">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label class="text-xs">Додати</ion-label>
        </div>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="w-full flex gap-4 justify-start p-[10px] overflow-x-auto overflow-y-visible px-[15px]">
    <div class="relative flex items-center justify-center bg-[#7777793b] w-[35px] h-[35px]  rounded-lg shadow-md">
      <ion-icon name="car-outline" class="text-2xl text-[#89a1c8]"></ion-icon>
      <ion-badge class="absolute bottom-0 right-0 transform translate-x-2 translate-y-2 bg-[#89a1c8] text-white rounded-full text-xs flex items-center justify-center w-5 h-5">2</ion-badge>
    </div>

    <div class="relative flex items-center justify-center bg-[#7777793b] w-[35px] h-[35px] rounded-lg shadow-md">
      <ion-icon name="checkmark-circle-outline" class="text-2xl text-[#49a66b]"></ion-icon>
      <ion-badge class="absolute bottom-0 right-0 transform translate-x-2 translate-y-2 bg-[#2f9253] text-white rounded-full text-xs flex items-center justify-center w-5 h-5">2</ion-badge>
    </div>

    <div class="relative flex items-center justify-center bg-[#7777793b] w-[35px] h-[35px] rounded-lg shadow-md">
      <ion-icon name="heart-outline" class="text-2xl text-[#b5b5b5]"></ion-icon>
      <ion-badge class="absolute bottom-0 right-0 transform translate-x-2 translate-y-2 bg-[#b5b5b5] text-white rounded-full text-xs flex items-center justify-center w-5 h-5">2</ion-badge>
    </div>

    <div class="relative flex items-center justify-center bg-[#7777793b] w-[35px] h-[35px] rounded-lg shadow-md">
      <ion-icon name="heart-dislike-outline" class="text-2xl text-[#b5b5b529]"></ion-icon>
      <ion-badge class="absolute bottom-0 right-0 transform translate-x-2 translate-y-2 bg-[#b5b5b5] text-white rounded-full text-xs flex items-center justify-center w-5 h-5">2</ion-badge>
    </div>

    <div class="relative flex items-center justify-center bg-[#7777793b] w-[35px] h-[35px] rounded-lg shadow-md">
      <ion-icon name="star-half-outline" class="text-2xl text-[#b5b5b529]"></ion-icon>
      <ion-badge class="absolute bottom-0 right-0 transform translate-x-2 translate-y-2 bg-[#3e4673] text-white rounded-full text-xs flex items-center justify-center w-5 h-5">4.3</ion-badge>
    </div>

  </div>

  @for(card of allCarsData.getAllCars(); track card.content) {
    <ion-item>
      <ion-card>
        <img [alt]="card.title" [src]="card.img" />
        <ion-card-header>
          <ion-card-title>{{ card.title }}</ion-card-title>
          <ion-card-subtitle>{{ card.subtitle }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ card.content }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  }
</ion-list>
