ion-content {
  --background: linear-gradient(to bottom, #f0f4f7, #b3bac0) !important;

  ion-list {
    margin: 0;
    padding: 0;
    background: transparent !important;
    .chip-container {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      white-space: nowrap;
      min-width: 80%;
      flex: 1;
      max-width: 80%;
      padding: 10px 10px 0 10px;
    }

    ion-chip {
      background: #e8edfc;
      color: #333333;
      min-width: 120px !important;
      display: flex;
      justify-content: center;
    }

    ion-buttons {
      ion-button {
        .add-btn {
          ion-icon {
            font-size: 22px;
          }
        }
      }
    }

  }
}
