<ion-header>
  <ion-toolbar class="px-2 !py-2">
    <div class="flex items-center w-full">
      <app-back-button
        [styles]="'!text-[20px] !text-black'"
        [title]="''"
        [titleStyles]="'!text-black'"
        [navigateBack]="navigateBack.bind(this)"
      ></app-back-button>
      <div class="flex items-center w-full px-4">
        <in-rent-all-segment class="mx-auto"></in-rent-all-segment>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-list lines="none">
  <router-outlet></router-outlet>
</ion-list>
<div class="sticky bottom-0">
  <main-action-btn [title]="'Додати авто'" [action]="vehicleCreation.bind(this)"
                   [styles]="'mx-[5px]'"></main-action-btn>
</div>
