<div class="flex flex-col">
  <div class="flex justify-end items-center space-x-3 down-toolbar">
    @for (mark of socialMarks(); track mark.value) {
      <ion-button class="relative flex items-center border-gray-300" [id]="mark.value">
        <ion-icon slot="icon-only" [name]="mark.icon" class="text-gray-700"></ion-icon>
        <span class="ml-1 text-white font-bold">

          <span class="ml-1 text-white font-bold">
            @if (mark.value !== 'likes' && mark.value !== 'dislikes') {
              <span>+</span>
            }
          </span>
          {{ mark.count }}
        </span>
      </ion-button>

<!--      <ion-popover [trigger]="mark.value" [showBackdrop]="false"-->
<!--                   [dismissOnSelect]="true">-->
<!--        <ng-template>-->
<!--          <ion-content>-->
<!--            <ion-list>-->
<!--              <ion-item [button]="true" [detail]="false">-->
<!--                {{ mark.description }}-->
<!--                <ion-buttons slot="end">-->
<!--                  <ion-button>-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </ion-button>-->
<!--                </ion-buttons>-->
<!--              </ion-item>-->
<!--            </ion-list>-->
<!--          </ion-content>-->
<!--        </ng-template>-->
<!--      </ion-popover>-->
    }
  </div>

  <div class="car-info flex justify-end">
    @for (carMark of carsMarks(); track carMark.value) {
      <ion-button class="relative flex items-center border-gray-300" [id]="carMark.value">
        <ion-icon slot="icon-only" [name]="carMark.icon" class="text-gray-700"></ion-icon>
        <span class="ml-1 text-white font-bold">{{ carMark.count }}</span>
      </ion-button>

<!--      <ion-popover [trigger]="carMark.value" [showBackdrop]="false" side="bottom" alignment="center"-->
<!--                   [dismissOnSelect]="true">-->
<!--        <ng-template>-->
<!--          <ion-content>-->
<!--            <ion-list>-->
<!--              <ion-item [button]="true" [detail]="false" id="nested-car">-->
<!--                {{ carMark.description }}-->
<!--                <ion-buttons slot="end">-->
<!--                  <ion-button>-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </ion-button>-->
<!--                </ion-buttons>-->
<!--              </ion-item>-->
<!--            </ion-list>-->
<!--          </ion-content>-->
<!--        </ng-template>-->
<!--      </ion-popover>-->
    }
  </div>
</div>

