<div class="flex justify-end items-center space-x-3 down-toolbar">
  <ion-button class="relative flex items-center">
    <ion-icon slot="icon-only" name="notifications-outline" class="text-gray-700"></ion-icon>
    <span class="ml-1 text-[#222d3a] font-bold {{styles}}">+{{ 3 }}</span>
  </ion-button>
  <ion-button class="flex items-center">
    <ion-icon slot="icon-only" name="chatbubbles-outline" class="text-gray-700"></ion-icon>
    <span class="ml-1 [#222d3a] font-bold {{styles}}">+{{ 3 }}</span>
  </ion-button>
  <ion-button class="relative flex items-center">
    <ion-icon slot="icon-only" name="thumbs-up-outline" class="text-gray-700"></ion-icon>
    <span class="ml-1 text-[#222d3a] font-bold {{styles}}">+{{ 2 }}</span>
  </ion-button>
  <ion-button class="relative flex items-center">
    <ion-icon slot="icon-only" name="car-outline" class="text-gray-700"></ion-icon>
    <span class="ml-1 text-[#222d3a] font-bold {{styles}}">{{ 4 }}</span>
  </ion-button>
</div>
