<ion-list>
  <div class="form-input">
    <ion-label position="static">
      Ім'я
    </ion-label>
    <ion-input type="text" class="aligned-input"></ion-input>
  </div>

  <div class="form-input">
    <ion-label position="static">
      Прізвище
    </ion-label>
    <ion-input type="text" class="aligned-input"></ion-input>
  </div>

  <div class="form-input">
    <ion-label position="static" class="centered">
      <ion-icon name="logo-google"></ion-icon>
    </ion-label>
    <ion-input type="text" class="aligned-input"></ion-input>
  </div>

  <div class="form-input">
    <ion-label position="static">
      <ion-icon name="call-outline"></ion-icon>
      <span class="code-tel">+380</span>
    </ion-label>
    <ion-input type="text" class="aligned-input"></ion-input>
  </div>


  <div class="agreements">
    <span>
      Я підтверджую, що ознайомлений(-а) з
      <a href="#" target="_blank">Угодою користувача</a>
      та
      <a href="#" target="_blank">Політикою конфіденційності</a>,
      і погоджуюся з їх умовами.
    </span>
    <app-switcher ></app-switcher>
  </div>
</ion-list>


<ion-button
  expand="block"
  shape="round"
  fill="outline"
  type="submit"
>
  <div class="btn-text">
  Реєстрація
  <ion-icon name="enter-outline"></ion-icon>
  </div>
</ion-button>

