ion-list {
  background: transparent;
  padding: 0 10px;
}
ion-label {
  min-width: 90px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-right: 0.1px solid black;
  justify-content: center;
  position: relative;
}

.form-input {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  color: black;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 2px;
}

ion-input {
  margin-left: 10px;
}

.checkmark-icon {
  position: absolute;
  top: -7px;
  right: 5px;
  color: green;
  font-size: 20px;
}

.agreements {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 2px;
  color: black;
}

.agreements span {
  margin-left: 10px;
  font-size: 14px;
}

ion-button {
  --background: #d0e7f2;
  --color: black;
  --border-radius: 20px !important;
  margin-top: 20px;
  padding: 0 5px;
  .btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 7px 0;
    ion-icon {
      font-size: 25px;
    }
  }
}

.custom-button:disabled {
  --background: #d3d3d3;
  --color: #a9a9a9;
  --box-shadow: none;
}

.error-container {
  margin: 0 auto;
}

.password-requirements {
  margin-top: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

.password-requirements ul {
  padding-left: 20px;
}

.password-requirements li {
  margin-bottom: 5px;
}

.valid-description {
  font-size: 20px;
  color: #66e566;
}
.valid-field {
  display: flex;
  align-items: center;
  gap: 5px;
}

