/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
@import '@ionic/angular/css/palettes/dark.always.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root.ios ion-modal {
  --ion-background-color: #2a3b4e;
}

.auth-modal {
  --border-radius: 16px 16px 0 0;

  &::part(content) {
    --border-radius: 20px 20px 0 0;
  }
}

.wide-alert {
  --min-width: 330px !important;

}


.ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// forms

form {
  ion-label {
    min-width: 90px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-right: 0.1px solid black;
    justify-content: center;
    position: relative;
  }

  ion-input {
    margin-left: 10px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    color: black;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 2px;
  }

  .input-row {
    display: flex;
    align-items: center;
  }

  .form-input ion-label {
    flex: 1;
  }

  .aligned-input {
    width: 100%;
  }

  .error-container {
    margin: 0 auto;
  }

  .checkmark-icon {
    position: absolute;
    top: -7px;
    right: 5px;
    color: green;
    font-size: 20px;
  }
}

//breadcrumb popover
ion-popover {
  ion-content {
    ion-list {
      ion-item {
        --background: #212c40;
      }
    }
    .list-md {
      background: #212c40;
    }
  }
}

// radio
ion-list {
  background: transparent;
  background: #fff !important;
  ion-item {
    --background: transparent !important;
  }
  ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;

    --color: #ddd;
    --color-checked: #ee7100;
  }

  ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;

    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .radio-checked.ios::part(container) {
    border-color: #ee7100;
  }
}
