ion-content{
  --background: linear-gradient(to bottom, #f0f4f7, #b3bac0) !important;

  ion-header {
    ion-toolbar {
      --background: #182130 !important;
      --border-width: 0;
      padding: 5px 10px;
    }
  }
}

