<ion-content>
  <ion-header class="shadow-none">
    <ion-toolbar>
      <ion-buttons slot="start">
        <app-back-button
          [styles]="'!text-[20px] !text-[#e8edfc]'"
          [navigateBack]="goBack.bind(this)"
        ></app-back-button>
      </ion-buttons>

      <ion-label class="text-[#e8edfc] flex justify-center pl-[25px] font-[300]">Інформація оренди</ion-label>

      <ion-buttons slot="end">
        <ion-button id="1" class="rounded flex items-center py-[2px] bg-[#e8edfc]"
        >
          <ion-label class="text-xs uppercase text-black mr-1">Оновити</ion-label>
          <ion-icon
            name="sync-outline"
            class="text-black text-[18px]"
            [class.rotating]="isFormReset()"
          >
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding flex flex-col gap-5">
    <rent-car-card [ranges]="rentInfoRanges"></rent-car-card>
    <div class="mb-5 relative">
      <app-address-info [isFormReset]="isFormReset()" [class.slide-down-animation]="isFormReset()"></app-address-info>
      <ion-label class="text-[#333333] text-sm font-[300] absolute -top-[9px] left-[12px] bg-white rounded-[12px] px-2 border-t-[1px] border-[#929292]">Місце подачі транспорту</ion-label>
    </div>
    <ripple-btn [title]="'Додати до автопарку'" [styles]="'text-[#696969]'"></ripple-btn>
  </div>
</ion-content>
