<ion-content>
  <ion-header class="shadow-none">
    <ion-toolbar>
      <ion-buttons slot="start" class="absolute">
        <app-back-button
          [styles]="'!text-[20px] !text-[#e8edfc]'"
          [navigateBack]="goBack.bind(this)"
        ></app-back-button>
      </ion-buttons>

      <ion-label class="text-[#e8edfc] flex justify-center font-[300]">Інформація оренди</ion-label>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding flex gap-5 flex-col">
    <rent-car-card [ranges]="rentInfoRanges" [editMode]="true"></rent-car-card>

    @if (rentCard.pdfCreated()) {
      <ripple-btn
        [title]="'Додати до автопарку'"
        [icon]="'add-circle'"
        [styles]="'text-[#646565] !border-none text-[16px] font-[500] '"
      >
      </ripple-btn>
    }

  </div>
</ion-content>

<ion-popover trigger="address-info" [dismissOnSelect]="true" side="bottom" [showBackdrop]="false">
  <ng-template>
    <ion-content class="ion-padding bg-black">
      <p class="text-sm text-white">
        Місцезнаходження автомобіля необхідне для точного відображення пропозицій на карті-локаторі. Це дозволяє
        потенційним орендарям швидко і зручно знайти автомобілі в їхньому регіоні, підвищуючи ймовірність оренди. Крім
        того, це допомагає забезпечити точність та актуальність даних про доступні автомобілі.
      </p>
    </ion-content>
  </ng-template>
</ion-popover>
