ion-button {
  --background: transparent;
  --border-radius: 0;
  --padding-top: 0;
   --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 0;
  margin-bottom: 0;
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  min-height: 0;
  --box-shadow: 0;
}
