<div class="flex space-x-[2px] mt-5 justify-between">
  @for(range of ranges(); let index = $index; track range.label) {
    <div class="flex flex-col items-center px-2 py-1 w-[6rem] bg-[#f6f6f6]"
         (click)="setRangePrice(range)"
    >
      <span class="text-xs font-medium text-[#7f7f7f]">{{ range.label }}</span>
      <span class="text-xs font-medium text-[#7f7f7f]">
        @if (!index) {
          дні
        } @else {
          днів
        }
      </span>
    </div>
  }
</div>

<div class="flex space-x-[2px] justify-between mt-2">
  @for(range of ranges(); let index = $index; track range.label) {
    <div class="flex flex-col justify-center items-center px-2 py-1 w-[6rem]">
      @if (range.value) {
        <span class="text-sm font-bold text-black w-full overflow-hidden whitespace-nowrap text-ellipsis">{{ range.value | thousand }} ГРН.</span>
      } @else {
        <span class="text-xs font-medium text-[#7f7f7f]">-</span>
      }
    </div>
  }
</div>

