<ion-list lines="none">
  @for(item of listItems(); track item.value) {
    <ion-item
      (click)="onItemClicked(item.callback)"
    >
      <ion-icon name="checkmark" slot="start" class="text-xs text-green-400"></ion-icon>
      <ion-label class="!text-gray-400">{{ item.label }}:</ion-label>

      @if (item.value) {
        <ion-text class="flex items-center gap-1 text-gray-400">
          {{ item.value }}
          <ion-icon name="chevron-down-outline" class="text-xs"></ion-icon>
        </ion-text>
      }
    </ion-item>
  }
</ion-list>
