ion-checkbox {
  --background: #ccc;
  --border-color: #ccc;
  --checkbox-background: #ccc;
}

ion-accordion {
  background: transparent;
}


ion-card {
  ion-card-header {
    padding: 10px;
  }

  ion-card-content {
    padding: 10px;
  }
}
