<ion-card class="bg-white m-0">
  @if (rentCard.pdfCreated()) {
    <generated-pdf [generatingContract]="rentCard.generatingContract" [openPdf]="openPdf.bind(this)"></generated-pdf>
  }
  <ion-card-content>
    <div class="flex h-[190px] max-h-[190px]">
      <div class="flex flex-col justify-end relative"
      >
        <app-card-slider [images]="rentCard.images"></app-card-slider>
        <side-info-tile [rentCard]="rentCard"></side-info-tile>
      </div>
    </div>

    <div class="flex flex-col w-full px-1">
      <ion-card-subtitle>СANADA torronto</ion-card-subtitle>
      <ion-card-title class="text-xs">BMW X5 M</ion-card-title>

      @if (!editMode) {
        <days-rent-range [ranges]="ranges"></days-rent-range>
      }
    </div>

    @if (editMode) {
      <rent-info [ranges]="ranges"
                 [editMode]="editMode"
                 [rentCard]="rentCard"
                 [onRentTypeChange]="onRentTypeChange.bind(this)"
                 [insuranceTypeChange]="onRentTypeChange.bind(this)"
      >
      </rent-info>
    }
  </ion-card-content>
</ion-card>

<!--<ion-accordion-group #accordionGroup>-->
<!--  <ion-accordion value="characteristics">-->
<!--  </ion-accordion>-->
<!--</ion-accordion-group>-->

<!--    @if (!rentCard.pdfCreated()) {-->
<!--      <ripple-btn-->
<!--        [title]="'Згенерувати договір'"-->
<!--        [styles]="'text-white !border-none bg-[#182130] text-[16px] font-[300] !mt-[10px] !h-[40px]'"-->
<!--        (click)="generateCarContract()"-->
<!--      >-->
<!--      </ripple-btn>-->
<!--    }-->
<!--          <ion-icon-->
<!--            class=" flex justify-center text-[20px]"-->
<!--            [name]="rentCard.isCharacteristicsAccordionOpen() ? 'chevron-up-outline' : 'chevron-down-outline'"-->
<!--            (click)="toggleAccordion()"-->
<!--          >-->
<!--          </ion-icon>-->
