<ion-card class="bg-white m-0">
  <!--  @if(!editMode) {-->
  <!--    <bookmark-rate [rate]="''"></bookmark-rate>-->
  <!--  }-->

  @if (rentCard.pdfCreated()) {
    <generated-pdf [generatingContract]="rentCard.generatingContract" [openPdf]="openPdf.bind(this)"></generated-pdf>
  }

  <ion-card-content>
    <div class="flex justify-between gap-[5px] h-[190px] max-h-[190px]">
      <div class="flex flex-col justify-end relative"
      >
        <app-card-slider [images]="rentCard.images"></app-card-slider>
        <div
          class="flex flex-col h-full py-1 items-center justify-around absolute bottom-0 right-0 !z-50 bg-black bg-opacity-50 p-1">
          @for (item of rentCard.carPreviewDetails; track item.text) {
            <div class="flex flex-col items-center my-2">
              <img [src]="item.icon" [class]="item.class + ' brightness-300'">
              <span class="text-[10px] text-white">{{ item.text }}</span>
            </div>
          }
        </div>

      </div>
    </div>

    <ion-card-subtitle>BMW X5 M</ion-card-subtitle>

    <days-rent-range [ranges]="ranges"></days-rent-range>

    <!--          <ion-icon-->
    <!--            class=" flex justify-center text-[20px]"-->
    <!--            [name]="rentCard.isCharacteristicsAccordionOpen() ? 'chevron-up-outline' : 'chevron-down-outline'"-->
    <!--            (click)="toggleAccordion()"-->
    <!--          >-->
    <!--          </ion-icon>-->

    <ion-accordion-group #accordionGroup>
      <ion-accordion value="characteristics">
      </ion-accordion>
    </ion-accordion-group>

    @if (editMode) {
      <ion-accordion-group class="mt-[10px]">
        <ion-accordion toggleIconSlot="start" toggleIcon="chevron-down-circle-outline">
          <ion-item slot="header" color="light" class="!text-sm font-[300]">
            <ion-label>Тип орендної плати</ion-label>
          </ion-item>
          <div slot="content">
            <div class="rounded my-4 relative border-[0.1px] border-[#929292] p-2">
              <ion-label
                class="text-[#333333] flex items-center gap-1 text-sm font-[300] absolute -top-[9px] left-[12px] bg-white rounded-[12px] px-2">
                Тип орендної плати
                <ion-icon name="information-circle-outline" class="text-[16px]"></ion-icon>
              </ion-label>
              @for (type of rentCard.rentTypes(); track type.value) {
                <div class="flex justify-between items-center w-full p-1 mt-1">
                  <ion-label class="font-[300] text-sm ">Орендна плата:
                    <span class="font-[500]" [class.text-black]="type.checked">{{ type.label }}</span>
                  </ion-label>

                  <ion-checkbox
                    [value]="type.value"
                    [checked]="type.checked"
                    (ionChange)="onRentTypeChange($event.target.value)"
                  >
                  </ion-checkbox>
                </div>
              }
              @if (rentCard.selectedRentType() === RentRange.DAYS) {
                <days-rent-range [ranges]="ranges"></days-rent-range>
              } @else {
                <hour-rate-range></hour-rate-range>
              }
              <deposit-payment></deposit-payment>
              <car-with-driver></car-with-driver>
            </div>
          </div>
        </ion-accordion>

        <!-- Accordion for Address Info -->
        <ion-accordion toggleIconSlot="start" toggleIcon="chevron-down-circle-outline">
          <ion-item slot="header" color="light" class="!text-sm font-[300]">
            <ion-label>Місцезнаходження транспорту</ion-label>
          </ion-item>
          <div slot="content">
            <div class="my-5 relative">
              <app-address-info></app-address-info>
              <ion-label
                class="text-[#333333] flex items-center gap-1 text-sm font-[300] absolute -top-[9px] left-[12px] bg-white rounded-[12px] px-2">
                Місцезнаходження транспорту
                <ion-icon name="information-circle-outline" class="text-[16px]" id="address-info"></ion-icon>
              </ion-label>
            </div>
          </div>
        </ion-accordion>

        <!-- Accordion for Insurance Types -->
        <ion-accordion toggleIconSlot="start" toggleIcon="chevron-down-circle-outline">
          <ion-item slot="header" color="light" class="!text-sm font-[300]">
            <ion-label>Страхування транспорту</ion-label>
          </ion-item>
          <div slot="content">
            <div class="rounded mt-4 relative border-[0.1px] border-[#929292] p-2">
              <ion-label
                class="text-[#333333] flex items-center gap-1 text-sm font-[300] absolute -top-[9px] left-[12px] bg-white rounded-[12px] px-2">
                Страхування транспорту
                <ion-icon name="information-circle-outline" class="text-[16px]"></ion-icon>
              </ion-label>
              @for (type of rentCard.insuranceTypes(); track type.value) {
                <div class="flex justify-between items-center w-full p-1">
                  <ion-label class="font-[300] text-sm">
                    <span class="font-[500]" [class.text-black]="type.checked">{{ type.label }}</span>
                  </ion-label>

                  <ion-checkbox
                    [value]="type.value"
                    [checked]="type.checked"
                    (ionChange)="insuranceTypeChange($event.target.value)"
                  >
                  </ion-checkbox>
                </div>
              }
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    }

    <!--    @if (!rentCard.pdfCreated()) {-->
    <!--      <ripple-btn-->
    <!--        [title]="'Згенерувати договір'"-->
    <!--        [styles]="'text-white !border-none bg-[#182130] text-[16px] font-[300] !mt-[10px] !h-[40px]'"-->
    <!--        (click)="generateCarContract()"-->
    <!--      >-->
    <!--      </ripple-btn>-->
    <!--    }-->
  </ion-card-content>
</ion-card>
