<ion-card class="bg-white m-0">
<!--  <bookmark-rate [rate]="''"></bookmark-rate>-->

  <ion-card-header>
    <ion-card-subtitle>BMW X5 M</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="flex justify-between gap-[10px] h-[160px] max-h-[160px]">
      <div class="flex flex-col justify-end"
           [class.justify-center]="!platform.is('ios')"
      >
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </div>
      <div class="flex flex-col h-full items-center justify-between">
        <div class="flex flex-col items-center">
          <img src="/assets/icon/gear-box-ico.png" class="w-[13px] h-[13px]">
          <span class="text-[10px]">Автомат</span>
        </div>
        <div class="flex flex-col items-center">
          <img src="/assets/icon/engine-car-ico.png" class="w-[14px] h-[14px]">
          <span class="text-[10px]">2.3</span>
        </div>
        <div class="flex flex-col items-center">
          <img src="/assets/icon/fuel-type-ico.png" class="w-[14px] h-[14px]">
          <span class="text-[10px]">Бензин</span>
        </div>
        <div class="flex flex-col items-center">
          <img src="/assets/icon/discharge-fuel-ico.png" class="w-[14px] h-[14px]">
          <span class="text-[10px]">8 л</span>
        </div>
        <ion-icon
          class=" flex justify-center text-[20px]"
          [name]="isCharacteristicsAccordionOpen() ? 'chevron-up-circle-outline' : 'chevron-down-circle-outline'"
          (click)="toggleAccordion()"
        >
        </ion-icon>
      </div>
    </div>

    <ion-accordion-group #accordionGroup>
      <ion-accordion value="characteristics">
        <div class="ion-padding bg-white" slot="content">First Content</div>
      </ion-accordion>
    </ion-accordion-group>

    <div class="rounded mt-4 bg-[#f3fafd]">
      @for(type of rentTypes(); track type.value) {
        <div class="flex justify-between items-center w-full p-1">
          <ion-label class="font-[300] ">Орендна плата:
            <span class="font-[500]" [class.text-black]="type.checked">{{ type.label }}</span>
          </ion-label>

          <ion-checkbox
            [value]="type.value"
            [checked]="type.checked"
            (ionChange)="onRentTypeChange($event.target.value)"
          >
          </ion-checkbox>
        </div>
      }
    </div>


    @if (selectedRentType() === RentRange.DAYS) {
      <days-rent-range [ranges]="ranges"></days-rent-range>
    } @else {
      <hour-rate-range></hour-rate-range>
    }
    <deposit-payment></deposit-payment>
    <car-with-driver></car-with-driver>
  </ion-card-content>
</ion-card>
