<ion-header>
  <ion-toolbar class="p-2">
    <div class="flex justify-between items-center py-2">
      <ion-buttons slot="start">
        <app-back-button
          [styles]="'!text-[20px]'"
          [navigateBack]="goBack.bind(this)"
        ></app-back-button>
      </ion-buttons>

      <ion-breadcrumbs [maxItems]="2" (ionCollapsedClick)="presentPopover($event)" [itemsBeforeCollapse]="0">
        @for (breadcrumb of breadcrumbsService.breadcrumbsRoutes(); track breadcrumb.url) {
          <ion-breadcrumb
            [href]="breadcrumb.url"
          >
            {{ breadcrumb.label | breadcrumbLabel }}
          </ion-breadcrumb>
        }
      </ion-breadcrumbs>
    </div>

    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid>
    <ion-row>
      @for (page of menuService.getProfilePageItems(); track page.value) {
        <ion-col size="6">
          <ion-card [class.premium]="page.value === ProfileMenuItem.PREMIUM"
                    (click)="openProfilePage(page)"
          >
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon [name]="page.icon"></ion-icon>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="ion-padding !text-ellipsis">
              <ion-label class="ion-padding">
                {{ page.label }}
              </ion-label>
            </ion-card-content>

          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
<log-out class="bg-[#b3bac0]"></log-out>

<ion-popover #popover
             [isOpen]="isBreadCrumbPopoverOpen"
             (didDismiss)="isBreadCrumbPopoverOpen = false"
             [showBackdrop]="false"
>
  <ng-template>
    <ion-content>
      <div class="bg-[#212c40] p-2 flex justify-between items-center">
        <ion-label class="text-xs uppercase">Попередні сторінки</ion-label>
        <ion-icon name="return-down-back-outline"></ion-icon>
      </div>
      <ion-list>
        <ion-item
          *ngFor="let breadcrumb of collapsedBreadcrumbs; last as isLast"
          [href]="breadcrumb?.url"
          [lines]="isLast ? 'none' : null"
        >
          <ion-label>{{ breadcrumb?.label }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
