<ion-header>
  <ion-toolbar class="p-2">
    <div class="flex justify-between items-center py-2">
      <ion-buttons slot="start">
        <app-back-button [navigateBack]="goBack.bind(this)"></app-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        </ion-avatar>
      </ion-buttons>
    </div>
    <notifications-preview></notifications-preview>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding">
  <ion-grid>
    <ion-row>
      @for (page of menuItems(); track page.value) {
        <ion-col size="6">
          <ion-card [class.premium]="page.value === ProfileMenuItem.PREMIUM"
                    (click)="openProfilePage(page)"
          >
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon [name]="page.icon"></ion-icon>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="ion-padding !text-ellipsis">
              <ion-label class="ion-padding">
                {{ page.label }}
              </ion-label>
            </ion-card-content>

          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
<log-out class="bg-[#b3bac0]"></log-out>

