ion-header {
  box-shadow: none;

  ion-toolbar {
    --background: #5d759f9c;

    .upper-block {
      padding: 7px;
    }

    ion-buttons {
      ion-avatar {
        height: 40px;
        width: 40px;

        img {
          border-radius: 25% !important;
        }
      }
    }
  }
}

ion-content {
  --background: #394761 !important;
}

ion-card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 20px 8px rgba(0, 0, 0, 0.1);
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;

  ion-card-header {
    ion-card-subtitle {
      text-align: left;

      ion-icon {
        text-align: left;
        font-size: 20px;
        color: #373737;
      }
    }
  }

  ion-card-content .left-padding {
    padding-left: 20px;
  }
}

.premium {
  background-color: #e1ecff;
}
